{% macro wmcadsShare() %}


<div class="ds-share">
  <h3>Share</h3>
  <svg>
    <use xlink:href="#ds-general-container" href="#ds-general-container"></use>
  </svg>
  <svg>
    <use xlink:href="#ds-general-container" href="#ds-general-container"></use>
  </svg>
  <svg>
    <use xlink:href="#ds-general-container" href="#ds-general-container"></use>
  </svg>
  <svg>
    <use xlink:href="#ds-general-container" href="#ds-general-container"></use>
  </svg>      
</div>
{% endmacro %}