{% macro wmcadsShare() %}


<div class="wmcads-share">
  <h3>Share</h3>
  <svg>
    <use xlink:href="#wmcads-general-container" href="#wmcads-general-container"></use>
  </svg>
  <svg>
    <use xlink:href="#wmcads-general-container" href="#wmcads-general-container"></use>
  </svg>
  <svg>
    <use xlink:href="#wmcads-general-container" href="#wmcads-general-container"></use>
  </svg>
  <svg>
    <use xlink:href="#wmcads-general-container" href="#wmcads-general-container"></use>
  </svg>      
</div>
{% endmacro %}