@use "shared/vars" as *;
@use "shared/mixins" as *;
@use "label/label";
@use "checkboxes/checkboxes";
@use "date-input/date-input";
@use "dropdown/dropdown";
@use "error-message/error-message";
@use "file-upload/file-upload";
@use "form-label/form-label";
@use "input/input";
@use "question/question";
@use "radios/radios";
@use "textarea/textarea";

.ds-fe {
  &-group {
    margin-bottom: $size-xl;

    &--error {
      padding-left: $size-md;
      border-left: 5px solid get-color(error);
    }
  }

  &-fieldset {
    width: 100%;
    min-width: 0;
    margin: 0;
    padding: 0;
    border: 0;

    &__legend {
      width: 100%;
      min-width: 0;
      margin: 0;
      padding: 0;
      overflow: hidden;
      border: 0;
    }
  }
}
