{% macro wmcadsPagination(params) %}

{# Imports #}
{% from "../../../components/breadcrumb/_breadcrumb.njk" import wmcadsBreadcrumb %}

<div class="ds-pagination ds-m-t-xl">
    <ol class="ds-pagination__nav">
    {% for i in range(1, params.pageCount + 1) -%}
    {% if(i == params.activePage - 1) %}
        <li class="ds-pagination__item ds-pagination__item--previous">
            <a class="ds-link" href="#">{{ i }}</a>
        </li>
    {% elseif(i == params.activePage) %}
        <li class="ds-pagination__item ds-pagination__item--active">
            {{ i }}
        </li>
    {% else %}
        <li class="ds-pagination__item">
            <a class="ds-link" href="#">{{ i }}</a>
        </li>
    {% endif %}
    {% endfor -%}
    </ol>
    {% if(params.activePage > 1) %}
    <button href="#" target="_self" class="ds-btn ds-btn--link ds-pagination__prev ds-link ds-link--with-chevron" >
        <svg class="ds-link__chevron ds-link__chevron--left">
            <use xlink:href="#ds-general-chevron-right" href="#ds-general-chevron-right"></use>
        </svg> Previous page
    </button>
    {% endif %}
    {% if(params.activePage < params.pageCount) %}
    <a href="#" target="_self" class="ds-pagination__next ds-link ds-link--with-chevron" >
        Next page <svg class="ds-link__chevron ds-link__chevron--right">
        <use xlink:href="#ds-general-chevron-right" href="#ds-general-chevron-right"></use>
        </svg>
    </a>
    {% endif %}
</div>

{% endmacro %}
