{% extends "www/_layouts/layout-left-pane.njk" %}
{% set pageTitle = "Templates" %}
{% set section = "Templates" %}
{% set ds = 'wmre' %}

{% block content %}
<p>Example templates that make up the main Change Into Action Website</p>
{% endblock %}