.ds-pagination {
  &__nav {
    display: flex;
    padding: 0;
    list-style: none;
  }

  &__item {
    margin-right: $size-sm;
  }

  &__next,
  &__prev {
    display: inline-block;
    margin-left: $size-sm;
  }
}
