{% macro wmcadsCookiesBanner(params) %}

{# Imports of components #}
{% from "wmcads/components/button/_button.njk" import wmcadsButton as primary %}
{%- from "wmcads/components/link/as-button/_as-button.njk" import wmcadsLinkAsButton as cta %}


<div class="bg-white ds-p-t-md ds-p-b-md ds-cookies-banner">
  <div class="ds-container">
    <div class="ds-col-1 ds-col-md-3-4 ds-col-lg-2-3">
      <h3>Your privacy settings</h3>
      <p>
        If you’re happy with the use of cookies by West Midlands Combined Authority
        and our selected partners, click ‘Accept all cookies’. Or click ‘Manage cookies’ to learn more.
      </p>
      <div class="ds-grid ds-grid--justify-between ds-cookies-banner__group-buttons">
        {{
          primary({
            classNames: "ds-btn ds-col-1 ds-col-sm-1 ds-col-md-12-24  ds-cookies-banner__accept-all-cookies",
            text: "Accept all cookies"
          }) | trim | indent(8)
        }}
        {{
          cta({
            text: "Manage Cookies",
            classNames: "ds-btn ds-col-1 ds-col-sm-1 ds-col-md-12-24",
            link: "/patterns/cookies/#cookies_manager"
          }) | trim | indent(8)
        }}
      </div>
    </div>
  </div>
</div>

{% endmacro %}
