{% macro wmcadsBanner(params) %}
{# Imports #}
{% from "wmcads/components/phase-indicator/_phase-indicator.njk" import wmcadsPhaseIndicator %}
{% from "wmcads/components/link/link/_link.njk" import wmcadsLink %}
{% from "wmcads/components/icon/_icon.njk" import wmcadsIcon %}

{# Set vars #}
{% set link = params.link if params.link %}
{% set linkTitle = params.linkTitle if params.linkTitle %}
{% set contentText = params.contentText if params.contentText else "This is a new service - your feedback will help us to improve it." %}
{% set contentHTML = params.contentHTML if params.contentHTML else null %}
{% set _content = contentHTML | safe if contentHTML else contentText %} {# change content based on what user has input #}
{# Emergency vars #}
{% set emergencyModifier = " wmcads-banner-container--emergency" if params.emergency %}
{% set emergencyTitle = params.emergencyTitle or "Emergency notification title" %}
{% set titleColClass = "wmcads-col-xl-20-24" if params.onPage else "wmcads-col-xl-10-24" %}


<div class="wmcads-banner-container{{emergencyModifier}}">
   {% if params.emergency -%}
   <div class="wmcads-container wmcads-grid wmcads-grid--align-center">
      <div class="wmcads-col-xl-1-24 wmcads-col-1-2 wmcads-banner-container__emergency-icon-col">
      {{
         wmcadsIcon({
            class: "wmcads-banner-container__emergency-icon-error",
            icon: "general-warning-triangle"
         })
      }}
      </div>
      <div class="{{titleColClass}} wmcads-col-1 wmcads-banner-container__emergency-title-col">
         <h2 class="wmcads-h4 wmcads-m-b-none">{{_content}}</h2>
      </div>
      {% if not params.onPage -%}
      <div class="wmcads-col-xl-10-24 wmcads-col-1 wmcads-banner-container__emergency-link-col">
         <a href="#" target="_self" class="wmcads-link wmcads-banner-container__emergency-link">
            Read our latest advice
            {{
               wmcadsIcon({
                  class: "wmcads-banner-container__emergency-icon wmcads-m-l-sm",
                  icon: "general-chevron-right"
               })
            }}
         </a>
      </div>
      {%- endif %}
      <div class="wmcads-col-xl-3-24 wmcads-col-1-2 wmcads-banner-container__emergency-close-col">
         <button class="wmcads-banner-container__emergency-close">
         Close
         {{
            wmcadsIcon({
               class: "wmcads-banner-container__emergency-icon wmcads-m-l-sm",
               icon: "general-cross"
            })
         }}
         </button>
      </div>
   </div>
   {% else -%}
   <div class="wmcads-col-1">
      {% if params.phase -%}
      <div class="wmcads-banner-container__phase-wrapper">
         {{
            wmcadsPhaseIndicator({
               indicatorText: params.phaseText
            })
         }}
      </div>
      {% endif -%}
      {#- Banner content -#}
      {% if params.html -%}
      {{- html | safe -}}
      {%- else -%}
      <p class="wmcads-banner-container__text">
         This is a new service - your
         {{ wmcadsLink({
               contentText: 'feedback',
               link: link,
               linkTitle: linkTitle,
               linkTarget: '_blank'
            })
         }}
         will help us to improve it.
      </p>
      {%- endif %}
   </div>
   {%- endif %}
</div>
{% endmacro %}