{% macro wmcadsSearchbar(params) %}

<form class="wmcads-search-bar">
    <input aria-label="Search" type="text" class="wmcads-search-bar__input wmcads-fe-input" placeholder="Search for tickets, timetables, travel advice…">
    <button class="wmcads-search-bar__btn" types="submit">
        <svg><title>Search</title><use xlink:href="#wmcads-general-search" href="#wmcads-general-search"></use></svg>
    </button>
</form>
{% endmacro %}
