{% extends "www/_layouts/layout-left-pane.njk" %}
{% set pageTitle="Hub header" %}
{% from "wmcads/components/hub-header/_hub-header.njk" import wmcadsHubHeader %}
{% from "www/_partials/component-example/component-example.njk" import compExample %}

{% block content %}

{# primary hub header #}
<h2>Primary hub header</h2>

{{
  compExample([
    wmcadsHubHeader()
  ],{iframe:false})
}}

{# primary hub header with icon #}
<h2>Primary hub header with Icon</h2>

{{
  compExample([
    wmcadsHubHeader({
      icon: true
    })
  ],{iframe:false})
}}

{# primary hub header with image #}
<h2>Primary hub header with Image</h2>

{{
  compExample([
    wmcadsHubHeader({
      image: true
    })
  ],{iframe:false})
}}
{% endblock %} 