{% extends "www/_layouts/layout-left-pane.njk" %}
{% set pageTitle="Hub header" %}
{% from "wmcads/components/hub-header/_hub-header.njk" import wmcadsHubHeader %}
{% from "www/_partials/component-example/component-example.njk" import compExample %}

{% block content %}
{{
  compExample([
    wmcadsHubHeader()
  ],{iframe:true})
}}
{% endblock %} 