{% extends "www/_layouts/layout-home.njk" %}
{% set pageTitle = "Design Systems" %}
{% set section = 'Home' %}
{% set ds = 'wmca' %}
{# Imports #}
{%- from "wmcads/components/content-tiles/normal/_normal.njk" import wmcadsContentTilesNormal -%}
{%- from "wmcads/components/link/link/_link.njk" import wmcadsLink -%}
{% from "wmcads/components/warning-text/_warning-text.njk" import wmcadsWarningText %}

{% block content %}

<div class="wmcads-grid wmcads-grid--align-center wmcads-grid--spacing-lg-2-xl">
  {# Overview #}
  <div class="wmcads-col-1 wmcads-col-lg-2-3">
    Design Systems used within the West Midlands Combined Authority.
  </div>
</div>
{# Internal navigation #}

<div class="wmcads-grid wmcads-grid--align-stretch wmcads-grid--spacing-sm-2-xsm wmcads-grid--spacing-lg-4-xsm">
  {# WMCA #}
  <div class="wmcads-col-1 wmcads-col-sm-1-2 wmcads-col-lg-1-4 wmcads-p-b-xsm">
    {{
      wmcadsContentTilesNormal({
        classModifiers: 'wmcads-content-tile--with-one-link',
        title: "West Midlands Combined Authority",
        copy: "<p></p>",
        smallTitle: true,
        readMore: true,
        link: '/wmca/',
        linkText: 'View the WMCA Design System',
        linkTitle: 'View the WMCA Design System'
      })
    }}
  </div>
  {# Safer Travel #}
  <div class="wmcads-col-1 wmcads-col-sm-1-2 wmcads-col-lg-1-4 wmcads-p-b-xsm">
    {{
      wmcadsContentTilesNormal({
        classModifiers: 'wmcads-content-tile--with-one-link',
        title: "Safer Travel",
        copy: "<p></p>",
        smallTitle: true,
        readMore: true,
        link: '/st/',
        linkText: 'View the Safer Travel Design System',
        linkTitle: 'View the Safer Travel Design System'
      })
    }}
  </div>
</div>

{% endblock %}