{% extends "www/_layouts/layout-home.njk" %}
{% set pageTitle = "Design Systems" %}
{% set section = 'Home' %}
{% set ds = 'wmca' %}
{# Imports #}
{% from "wmcads/components/content-card/_content-card.njk" import wmcadsContentCard %}
{%- from "wmcads/components/link/link/_link.njk" import wmcadsLink -%}
{% from "wmcads/components/warning-text/_warning-text.njk" import wmcadsWarningText %}

{% block content %}
<main class="ds-container--main">
<div class="ds-grid ds-grid--align-center ds-grid--spacing-lg-2-xl">
  {# Overview #}
  <div class="ds-col-1 ds-col-lg-2-3 ds-m-b-lg">
    <p>Design Systems used within the West Midlands Combined Authority.</p>
    <p>Use these design systems to build consistent, usable services.</p>
  </div>
</div>
{# Internal navigation #}

<div class="ds-css-grid-4-col">
  {# WMCA #}
  {{
    wmcadsContentCard({
      link: '/wmca/',
      contentHTML: '<div class=\"ds-p-sm\"><h3>West Midlands Combined Authority</h3><p>View the WMCA Design System</p></div>'
    })
  }}
  {# TfWM #}
  {{
    wmcadsContentCard({
      link: '/tfwm/',
      contentHTML: '<div class=\"ds-p-sm\"><h3>Transport For West Midlands</h3><p>View the TfWM Design System</p></div>'
    })
  }}
  {# Safer Travel #}
  {{
    wmcadsContentCard({
      link: '/st/',
      contentHTML: '<div class=\"ds-p-sm\"><h3>Safer Travel</h3><p>View the Safer Travel Design System</p></div>'
    })
  }}
  {# Midlands Connect #}
  {{
    wmcadsContentCard({
      link: '/mc/',
      contentHTML: '<div class=\"ds-p-sm\"><h3>Midlands Connect</h3><p>View the Midlands Connect Design System</p></div>'
    })
  }}
  {# Change Into Action #}
  {{
    wmcadsContentCard({
      link: '/cia/',
      contentHTML: '<div class=\"ds-p-sm\"><h3>Change Into Action</h3><p>View the Change Into Action Design System</p></div>'
    })
  }}
  {# West Midlands Rail Executive #}
  {{
    wmcadsContentCard({
      link: '/wmre/',
      contentHTML: '<div class=\"ds-p-sm\"><h3>West Midlands Rail Executive</h3><p>View the West Midlands Rail Executive Design System</p></div>'
    })
  }}
  {# Ring and Ride #}
  {{
    wmcadsContentCard({
      link: '/rar/',
      contentHTML: '<div class=\"ds-p-sm\"><h3>Ring and Ride</h3><p>View the Ring and Ride Design System</p></div>'
    })
  }}
</div>
</main>
 <!-- footer -->
    {% from "wmcads/patterns/footer/_footer.njk" import wmcadsFooter %}
    {{
      wmcadsFooter({
      columns: footerCol,
      social: true,
      ds: ds
    })
    }}
    <!-- footer -->

{% endblock %}