{% extends "www/_layouts/layout-home.njk" %}
{% set pageTitle = "Design Systems" %}
{% set section = 'Home' %}
{% set ds = 'wmca' %}
{# Imports #}
{%- from "wmcads/components/content-tiles/normal/_normal.njk" import wmcadsContentTilesNormal -%}
{%- from "wmcads/components/link/link/_link.njk" import wmcadsLink -%}
{% from "wmcads/components/warning-text/_warning-text.njk" import wmcadsWarningText %}

{% block content %}

<div class="ds-grid ds-grid--align-center ds-grid--spacing-lg-2-xl">
  {# Overview #}
  <div class="ds-col-1 ds-col-lg-2-3 ds-m-b-lg">
    Design Systems used within the West Midlands Combined Authority.
  </div>
</div>
{# Internal navigation #}

<div class="ds-grid ds-grid--align-stretch ds-grid--spacing-sm-2-xsm ds-grid--spacing-lg-4-xsm">
  {# WMCA #}
  <div class="ds-col-1 ds-col-sm-1-2 ds-col-lg-1-4 ds-p-b-xsm">
    {{
      wmcadsContentTilesNormal({
        classModifiers: 'ds-content-tile--with-one-link',
        title: "West Midlands Combined Authority",
        copy: "<p></p>",
        smallTitle: true,
        readMore: true,
        link: '/wmca/',
        linkText: 'View the WMCA Design System',
        linkTitle: 'View the WMCA Design System'
      })
    }}
  </div>
  {# TfWM #}
  <div class="ds-col-1 ds-col-sm-1-2 ds-col-lg-1-4 ds-p-b-xsm">
    {{
      wmcadsContentTilesNormal({
        classModifiers: 'ds-content-tile--with-one-link',
        title: "Transport For West Midlands",
        copy: "<p></p>",
        smallTitle: true,
        readMore: true,
        link: '/tfwm/',
        linkText: 'View the TfWM Design System',
        linkTitle: 'View the TfWM Design System'
      })
    }}
  </div>
  {# Safer Travel #}
  <div class="ds-col-1 ds-col-sm-1-2 ds-col-lg-1-4 ds-p-b-xsm">
    {{
      wmcadsContentTilesNormal({
        classModifiers: 'ds-content-tile--with-one-link',
        title: "Safer Travel",
        copy: "<p></p>",
        smallTitle: true,
        readMore: true,
        link: '/st/',
        linkText: 'View the Safer Travel Design System',
        linkTitle: 'View the Safer Travel Design System'
      })
    }}
  </div>
  {# Midlands Connect #}
  <div class="ds-col-1 ds-col-sm-1-2 ds-col-lg-1-4 ds-p-b-xsm">
    {{
      wmcadsContentTilesNormal({
        classModifiers: 'ds-content-tile--with-one-link',
        title: "Midlands Connect",
        copy: "<p></p>",
        smallTitle: true,
        readMore: true,
        link: '/mc/',
        linkText: 'View the Midlands Connect Design System',
        linkTitle: 'View the Midlands Connect Design System'
      })
    }}
  </div>
</div>

{% endblock %}