{# Uses the components: ds-loader, ds-icon #}

{% macro wmcadsAutocomplete(params) %}
{# Imports #}
{% from "wmcads/components/icon/_icon.njk" import wmcadsIcon %}
{% from "wmcads/components/disruption-indicator/medium/_medium.njk" import wmcadsDisruptionIndicatorMedium %}
{% from "wmcads/components/form-elements/form-label/_form-label.njk" import wmcadsFormLabel %}
{# Params #}
{% set query = params.query if params.query else "" %} {# default to x15 as query text if one isn't available #}
{% set placeholder = params.placeholder if params.placeholder else "Tap to search" %}
{% set isLoading = " ds-is--loading" if params.loading %}
{% set id = params.id if params.id else "genericInput" %}
{% set label = params.label.contentText if params.label.contentText else "Autocomplete label" %}
{% set name = params.name if params.name else id %}
{% set isRequired = params.isRequired if params.isRequired else false %}
{% set selected = params.selected if params.selected else false %}
{% set selectedItem = params.selectedItem if params.selectedItem else 'Selected item' %}

{# Label #}
{% if not params.hideLabel %}
{{
  wmcadsFormLabel({
    for: id,
    contentText: label,
    classes: params.label.classes
  })
}}
{% endif %}

{% if params.selected %}
<div
    class="ds-autocomplete__selected-item ds-grid ds-grid--justify-between ds-m-t-xs ds-m-b-md"
  >
    <strong class="ds-col-auto ds-autocomplete__selected-item-summary">{{selectedItem}}</strong>
    <button type="button" class="ds-autocomplete__selected-item-close">
      {{
        wmcadsIcon({
          icon: 'general-cross',
          class: 'ds-autocomplete__selected-item-close-icon'
        })
      }}
    </button>
  </div>
{% else %}
<div class="ds-autocomplete ds-grid{{isLoading}}">
  {% from "wmcads/components/loader/_loader.njk" import wmcadsLoader %}
  {#- Get SVG icon and pass class -#}
  <!-- Search icon -->
  {{
    wmcadsIcon({
      icon: 'general-search',
      class: 'ds-autocomplete__icon'
    })
  }}

  {# Loading spinner #}
  {{
    wmcadsLoader()
  }}
  <!-- Autocomplete input box -->
  <input class="ds-fe-input ds-autocomplete__input ds-col-1" value="{{ query }}" placeholder="{{ placeholder }}" name="{{ name }}" aria-label="{{ placeholder }}"  type="text" id="{{id}}" required="{{isRequired}}" autocomplete="off">
</div>
{% endif %}

{#- If showSuggestions is true #}
{% if params.showSuggestions %}
<!-- Autocomplete suggestions -->
<ul class="ds-autocomplete-suggestions">
{#- If textOnly suggestions -#}
{% if params.textSuggestions -%}
  {%- for i in range(1,4) %}
  <li class="ds-autocomplete-suggestions__li" title="Search result {{i}}" tabindex="0">
    This is <strong>my query</strong> result {{i}}
  </li>
  {%- endfor %}
{% else -%}
  {# Disruption indicator suggestions #}
  {%- for i in range(1,6) %}
  <li class="ds-autocomplete-suggestions__li ds-grid" title="Good service on X15" tabindex="0">
    <div class="ds-col-auto" >
      {{
        wmcadsDisruptionIndicatorMedium({
          classModifiers: 'ds-disruption-indicator-medium',
          text: query
        })
      }}
    </div>
    <div class="ds-col-1-2 ds-col-sm-2-3">
      <strong>Oldbury to Dudley {{i}}</strong><br>and return journey
    </div>
  </li>
  {%- endfor %}
{% endif -%}
</ul>
{%- endif %}


{% endmacro %}