{# Uses the components: wmcads-loader, wmcads-icon #}

{% macro wmcadsAutocomplete(params) %}
{# Imports #}
{% from "wmcads/components/icon/_icon.njk" import wmcadsIcon %}
{% from "wmcads/components/disruption-indicator/medium/_medium.njk" import wmcadsDisruptionIndicatorMedium %}
{% from "wmcads/components/form-elements/form-label/_form-label.njk" import wmcadsFormLabel %}
{# Params #}
{% set query = params.query if params.query else "" %} {# default to x15 as query text if one isn't available #}
{% set placeholder = params.placeholder if params.placeholder else "Tap to search" %}
{% set isLoading = " wmcads-is--loading" if params.loading %}
{% set id = params.id if params.id else "genericInput" %}
{% set label = params.label.contentText if params.label.contentText else "Autocomplete label" %}
{% set name = params.name if params.name else id %}
{% set isRequired = params.isRequired if params.isRequired else false %}
{% set selected = params.selected if params.selected else false %}
{% set selectedItem = params.selectedItem if params.selectedItem else 'Selected item' %}

{# Label #}
{% if not params.hideLabel %}
{{
  wmcadsFormLabel({
    for: id,
    contentText: label,
    classes: params.label.classes
  })
}}
{% endif %}

{% if params.selected %}
<div
    class="wmcads-autocomplete__selected-item wmcads-grid wmcads-grid--justify-between wmcads-m-t-xs wmcads-m-b-md"
  >
    <strong class="wmcads-col-auto wmcads-autocomplete__selected-item-summary">{{selectedItem}}</strong>
    <button type="button" class="wmcads-autocomplete__selected-item-close">
      {{
        wmcadsIcon({
          icon: 'general-cross',
          class: 'wmcads-autocomplete__selected-item-close-icon'
        })
      }}
    </button>
  </div>
{% else %}
<div class="wmcads-autocomplete wmcads-grid{{isLoading}}">
  {% from "wmcads/components/loader/_loader.njk" import wmcadsLoader %}
  {#- Get SVG icon and pass class -#}
  <!-- Search icon -->
  {{
    wmcadsIcon({
      icon: 'general-search',
      class: 'wmcads-autocomplete__icon'
    })
  }}

  {# Loading spinner #}
  {{
    wmcadsLoader()
  }}
  <!-- Autocomplete input box -->
  <input class="wmcads-fe-input wmcads-autocomplete__input wmcads-col-1" value="{{ query }}" placeholder="{{ placeholder }}" name="{{ name }}" aria-label="{{ placeholder }}"  type="text" id="{{id}}" required="{{isRequired}}" autocomplete="off">
</div>
{% endif %}

{#- If showSuggestions is true #}
{% if params.showSuggestions %}
<!-- Autocomplete suggestions -->
<ul class="wmcads-autocomplete-suggestions">
{#- If textOnly suggestions -#}
{% if params.textSuggestions -%}
  {%- for i in range(1,4) %}
  <li class="wmcads-autocomplete-suggestions__li" title="Search result {{i}}" tabindex="0">
    This is <strong>my query</strong> result {{i}}
  </li>
  {%- endfor %}
{% else -%}
  {# Disruption indicator suggestions #}
  {%- for i in range(1,6) %}
  <li class="wmcads-autocomplete-suggestions__li wmcads-grid" title="Good service on X15" tabindex="0">
    <div class="wmcads-col-auto" >
      {{
        wmcadsDisruptionIndicatorMedium({
          classModifiers: 'wmcads-disruption-indicator-medium',
          text: query
        })
      }}
    </div>
    <div class="wmcads-col-1-2 wmcads-col-sm-2-3">
      <strong>Oldbury to Dudley {{i}}</strong><br>and return journey
    </div>
  </li>
  {%- endfor %}
{% endif -%}
</ul>
{%- endif %}


{% endmacro %}