{% extends "www/_layouts/layout-left-pane.njk" %}
{% set pageTitle="Tag" %}
{% set ds = 'cia' %}
{% from "wmcads/components/tag/_tag.njk" import wmcadsTag %}
{% from "www/_partials/component-example/component-example.njk" import compExample %}

{% block content %}
{{
  compExample([
    wmcadsTag({
      text: 'info'
    })
  ])
}}
{% endblock %}