{% macro wmcadsFileUpload(params) %}

{# Imports #}
{% from "wmcads/components/icon/_icon.njk" import wmcadsIcon %}

<div class="ds-fe-group">
  <fieldset class="ds-fe-fieldset">
    <legend class="ds-fe-fieldset__legend">
      <h3 class="ds-fe-question">
        Upload a file
      </h3>
      <p>
        Files must be jpeg or png file format and be less than 2mb
      </p>
    </legend>
    {% if params.fileSelected -%}
      <div class="ds-fe-file-upload">
        <input
          type="file"
          name="fileUploaded"
          id="fileUploaded"
          class="ds-fe-file-upload__input ds-fe-file-upload__input--file-selected"
        />
        <label for="fileUploaded" class="ds-btn ds-btn--primary ds-fe-file-upload__label">
          Remove file
          <svg class="ds-btn__icon ds-btn__icon--right">
            <use xlink:href="#ds-general-chevron-right" href="#ds-general-chevron-right"></use>
          </svg>
        </label>
        <span>
          test-file.jpg
        </span>
      </div>
    {%- else -%}
      <div class="ds-fe-file-upload">
        <input
          type="file"
          name="fileUpload"
          id="fileUpload"
          class="ds-fe-file-upload__input"
        />
        <label for="fileUpload" class="ds-btn ds-btn--primary ds-fe-file-upload__label">
          Choose file
          <svg class="ds-btn__icon ds-btn__icon--right">
            <use xlink:href="#ds-general-paperclip" href="#ds-general-paperclip"></use>
          </svg>
        </label>
        <span>
          no file selected
        </span>
      </div>
    {%- endif %}
  </fieldset>
</div>

{% endmacro %}