{% macro wmcadsPhaseIndicatorLink(params) %}
{% from "wmcads/components/phase-indicator/_phase-indicator.njk" import wmcadsPhaseIndicator %}
{%- from "wmcads/components/link/link/_link.njk" import wmcadsLink -%}
{# Set vars #}
{% set text = params.text if params.text %}
{% set link = params.link if params.link %} {# set button text #}
{% set linkTitle = params.linkTitle if params.linkTitle %} {# set button text #}
<div class="ds-grid ds-banner-container">
  <div class="ds-col-auto ds-float-left ds-m-r-xsm">
    {{
      wmcadsPhaseIndicator() | indent(6) | trim
   }}
  </div>
  <div class="ds-col-auto">
     <p class="ds-banner-container__text">
      {{ wmcadsLink({
        text: text,
        link: link,
        linkTitle: linkTitle,
        linkTarget: '_blank'
        }) | indent(6) | trim
     }}
     </p>
  </div>
</div>

{% endmacro %}
