{% macro wmcadsPhaseIndicator(params) %}

<a href="$*baseUrl/" target="_self" class="wmcads-phase-indicator" title="Beta homepage of West Midlands Combined Authority Design System">
  Beta
</a>

{% endmacro %}