{% extends "www/_layouts/layout-left-pane.njk" %}
{% set pageTitle="Breadcrumb" %}
{% set ds = 'wmca' %}

{% block content %}

{% from "www/pages/shared/components/breadcrumb/index.njk" import dsBreadcrumbContent %}

{{
  dsBreadcrumbContent({})
}}

{% endblock %}