<!DOCTYPE html>
<html lang="en-gb" class="ds-html">
  <!-- Head -->
  {% include "www/_partials/_head.njk" %}
  <!-- end: Head -->

  <body class="ds-body">
    {# main #}
    <main class="ds-container ds-container--main">
      {% block body %}{% endblock %}
    </main>
    {# main #}

    <!-- Scripts -->
    {% include "www/_partials/_scripts.njk" %}
    <!-- end: Scripts -->
  </body>

</html>
