{% if (ds == "wmca") %}
    {% set nav = navItems %}
{% endif %}

{% if (ds== "tfwm") %}
    {% set nav = navItemsTfwm %}
{% endif %}

{% if (ds == "st") %}
    {% set nav = navItemsSt %}
{% endif %}

{% if (ds== "mc") %}
    {% set nav = navItemsMc %}
{% endif %}

{% if (ds== "cia") %}
    {% set nav = navItemsCia %}
{% endif %}

<!DOCTYPE html>
<html lang="en-gb" class="ds-html">
  <!-- Head -->
  {% include "www/_partials/_head.njk" %}
  <!-- end: Head -->

  <body class="ds-body">
    <!--[if IE]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and
        security.
      </p>
    <![endif]-->

    {# header #}
    {% from "wmcads/patterns/header-v2/_header-v2.njk" import wmcadsHeaderV2 %}
    {{
      wmcadsHeaderV2 ({
        id: "mega-menu",
        navItems: nav,
        banner: false,
        linkTopLevel: true,
        ciaArea: false,
        ds: ds,
        breadcrumbs: {
          section: section,
          pageTitle: pageTitle,
          hideBreadcrumb: hideBreadcrumb
        }
      })
    }}
    {# header #}

    {# summary #}
    {% block summary %}{% endblock %}
    {# end:summary #}

    {# main #}
    <main class="ds-container ds-container--main">
      {% block body %}{% endblock %}
    </main>
    {# main #}

    <!-- footer -->
    {% from "wmcads/patterns/footer/_footer.njk" import wmcadsFooter %}
    {{
      wmcadsFooter({
        feedback: false,
        bottomMenu: [{
          name: "Privacy & Cookies Policy",
          link: "https://www.wmca.org.uk/policies"
        },
        {
          name: "Change brand",
          link: "/"
        }]
      })
    }}
    <!-- footer -->

    <!-- Scripts -->
    {% include "www/_partials/_scripts.njk" %}
    <!-- end: Scripts -->
  </body>

</html>
