<!DOCTYPE html>
<html lang="en-gb" class="wmcads-html">
  <!-- Head -->
  {% include "www/_partials/_template_head.njk" %}
  <!-- end: Head -->

  <body class="wmcads-body">
    <!--[if IE]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and
        security.
      </p>
    <![endif]-->

    {# header #}
    {% from "wmcads/patterns/header/_header.njk" import wmcadsHeader %}
    {{
      wmcadsHeader ({
        id: "mega-menu",
        navItems: templateNavItems,
        banner: true,
        linkTopLevel: true,
        search: true,
        template: true,
        breadcrumbs: {
          section: section,
          pageTitle: pageTitle
        }
      })
    }}
    {# header #}

    {# main #}
    <main class="wmcads-container--main {% if(params.tempCampaign) %} wmcads-m-r-lg {% endif %}">
      {% block body %}{% endblock %}
      {{params}}
    </main>
    {# main #}

    <!-- footer -->
    {% from "wmcads/patterns/footer/_footer.njk" import wmcadsFooter %}
    {{
      wmcadsFooter({
      menu1: {
        name: "Resources & support",
        menuItems: [{
          name: "Businesses"
        },{
          name: "Education"
        },{
          name: "Job centres"
        },{
          name: "Young people"
        }]
      },
      menu2: {
        name: "About us",
        menuItems: [{
          name: "About West Midlands Combined Authority"
        }, {
          name: "WMCA Apps"
        }]
      },
      bottomMenu: [{
        name: "Accessibility"
      },
      {
        name: "Terms and Conditions"
      },
      {
        name: "Policies"
      }]
    })
    }}
    <!-- footer -->

    <!-- Scripts -->
    {% include "www/_partials/_scripts.njk" %}
    <!-- end: Scripts -->
  </body>

</html>
