<!DOCTYPE html>
<html lang="en-gb" class="ds-html">
  <!-- Head -->
  {% include "www/_partials/_template_head.njk" %}
  <!-- end: Head -->

  <body class="ds-body">
    <!--[if IE]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and
        security.
      </p>
    <![endif]-->

        {# header #}
    {% from "wmcads/patterns/header-v2/_header-v2.njk" import wmcadsHeaderV2 %}
    {{
      wmcadsHeaderV2 ({
        id: "mega-menu",
        navItems: templateNavItems,
        banner: true,
        linkTopLevel: true,
        breadcrumbs: {
          section: section,
          pageTitle: pageTitle,
          hideBreadcrumb: hideBreadcrumb
        },
        search: true,
        wmcadsSearch: {
          id: "wmcadsMegaMenuSearch",
          placeholder: 'Search...',
          hideLabel: true
        }
      })
    }}
    {# header #}

    {# main #}
    <main class="ds-container--main {% if(params.tempCampaign) %} ds-m-r-lg {% endif %}">
      {% block body %}{% endblock %}
      {{params}}
    </main>
    {# main #}

    <!-- footer -->
    {% from "wmcads/patterns/footer/_footer.njk" import wmcadsFooter %}
    {{
      wmcadsFooter({
      social: true,
      menu1: {
        name: "Governance",
        menuItems: [{
          name: "Committee meetings"
        },{
          name: "Freedom of information"
        },{
          name: "Procurement"
        }]
      },
      menu2: {
        name: "Resources and support ",
        menuItems: [{
          name: "Contact us"
        }, {
          name: "Media assets"
        }, {
          name: "Careers"
        }, {
          name: "Documents"
        }]
      },
      bottomMenu: [{
        name: "Accessibility"
      },
      {
        name: "Terms and Conditions"
      },
      {
        name: "Policies"
      }]
    })
    }}
    <!-- footer -->

    <!-- Scripts -->
    {% include "www/_partials/_scripts.njk" %}
    <!-- end: Scripts -->
  </body>

</html>
