{% if (ds == "wmca") %}
    {% set nav = templateNavItems %}
    {% set footerCol = 3 %}
     {% set footerMenu1 = {
        name: "Governance",
        menuItems: [{
          name: "Committee meetings"
        },{
          name: "Freedom of information"
        },{
          name: "Procurement"
        }]
      } %}
      {% set footerMenu2 = {
        name: "Resources and support",
        menuItems: [{
          name: "Contact us"
        }, {
          name: "Media assets"
        }, {
          name: "Careers"
        }, {
          name: "Documents"
        }]
      } %}
{% endif %}

{% if (ds== "tfwm") %}
    {% set nav = templateNavItemsTfwm %}
        {% set footerCol = 3 %}
     {% set footerMenu1 = {
        name: "Resources and support",
        menuItems: [{
          name: "Businesses"
        },{
          name: "Education"
        },{
          name: "Job centres"
        },{
          name: "Young people"
        }]
      } %}
      {% set footerMenu2 = {
        name: "About us",
        menuItems: [{
          name: "Who we are"
        }, {
          name: "What we do"
        }, {
          name: "Our strategy"
        }, {
          name: "Our apps"
        }]
      } %}
{% endif %}

{% if (ds == "st") %}
    {% set nav = templateNavItemsSt %}
{% endif %}

{% if (ds== "mc") %}
    {% set nav = templateNavItemsMc %}
{% endif %}

{% if (ds== "cia") %}
    {% set nav = templateNavItemsCia %}
    {% set footerCol = 2 %}
    {% set footerMenu1 = {
        name: "Partners",
        menuItems: []
      } %}
      {% set footerMenu2 = {
        name: "Change your area",
        menuItems: []
      } %}
{% endif %}

{% if (ds== "wmre") %}
    {% set nav = templateNavItemsWmre %}
    {% set footerCol = 2 %}
    {% set footerMenu1 = {
        name: "Partners",
        menuItems: []
      } %}
      {% set footerMenu2 = {
        name: "Change your area",
        menuItems: []
      } %}
{% endif %}

{% if (ds== "rar") %}
    {% set nav = templateNavItemsRar %}
    {% set footerCol = 2 %}
    {% set footerMenu1 = {
        name: "Partners",
        menuItems: []
      } %}
      {% set footerMenu2 = {
        name: "Change your area",
        menuItems: []
      } %}
{% endif %}

<!DOCTYPE html>
<html lang="en-gb" class="ds-html">
  <!-- Head -->
  {% include "www/_partials/_template_head.njk" %}
  <!-- end: Head -->

  <body class="ds-body {% if(pageTitle == "Area Selection") %} ds-area-template {% endif %}">
    <!--[if IE]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and
        security.
      </p>
    <![endif]-->

    {# header #}
    {% from "wmcads/patterns/header-v2/_header-v2.njk" import wmcadsHeaderV2 %}
    {{
      wmcadsHeaderV2 ({
        id: "mega-menu",
        ciaArea: false,
        withTitle: true,
        title: "Choose your area",
        ds: ds
      })
    }}
    {# header #}

    {# summary #}
    {% block summary %}{% endblock %}
    {# end:summary #}

    {% block summaryContent %}{% endblock summaryContent %}

    {# main #}
    <main class="ds-container--main {% if(params.tempCampaign) %} ds-m-r-lg {% endif %}">
      {% block body %}{% endblock %}
      {{params}}
    </main>
    {# main #}

    <!-- footer -->
    {% from "wmcads/patterns/footer/_footer.njk" import wmcadsFooter %}
    {{
      wmcadsFooter({
      ds: ds,
      bottomMenu: [{
        name: "Accessibility"
      },
      {
        name: "Terms and Conditions"
      },
      {
        name: "Policies"
      }]
    })
    }}
    <!-- footer -->

    <!-- Scripts -->
    {% include "www/_partials/_scripts.njk" %}
    <!-- end: Scripts -->
  </body>

</html>
