{% extends "www/_layouts/_home-master-layout.njk" %}

{% block body %}
<br>
<h1 id="ds-main-content">{{ pageTitle | safe}}</h1>
<hr>
<div class="ds-grid" >
  <div class="ds-col-1">
    {% block content %}{% endblock content %}
  </div>
</div>
{% endblock body%}