{% macro wmcadsMsgHelp(params) %}
{% from "wmcads/components/icon/_icon.njk" import wmcadsIcon %}
{# Set vars and defaults #}

<div class="ds-msg-help">
  <button class="ds-msg-help__close-btn" aria-label="Close help message">
    {# Get SVG icon #}
    {{-
      wmcadsIcon({
        icon: 'general-cross',
        class: 'ds-msg-help__close-icon'
      }) | indent(4) | trim
    }}
  </button>
  {{ params.message | safe }}
</div>

{% endmacro %}