{% macro wmcadsContentTileAdviceMoving(params) %}
{%- from "wmcads/components/button/_button.njk" import wmcadsButton as primary -%}

<div class="ds-content-tile">
  <h2 class="ds-content-tile__title">Advice to keep moving</h2>
  <div class="ds-content-tile__buttons">

    {{
      primary({
        classNames: "ds-btn--primary ds-content-tile__button",
        text: "I drive",
        iconRight: "general-chevron-right"
      }) | trim | indent(4)
    }}
    {{
      primary({
        classNames: "ds-btn--primary ds-content-tile__button",
        text: "I use the bus",
        iconRight: "general-chevron-right"
      }) | trim | indent(4)
    }}
    {{
      primary({
        classNames: "ds-btn--primary ds-content-tile__button",
        text: "I use the train",
        iconRight: "general-chevron-right"
      }) | trim | indent(4)
    }}
    {{
      primary({
        classNames: "ds-btn--primary ds-content-tile__button",
        text: "I use the tram",
        iconRight: "general-chevron-right"
      }) | trim | indent(4)
    }}
    {{
      primary({
        classNames: "ds-btn--primary ds-content-tile__button",
        text: "I walk or cycle",
        iconRight: "general-chevron-right"
      }) | trim | indent(4)
    }}
    {{
      primary({
        classNames: "ds-btn--primary ds-content-tile__button",
        text: "I want to visit an attraction or venue",
        iconRight: "general-chevron-right"
      }) | trim | indent(4)
    }}
  </div>
</div>
{% endmacro %}