.ds-fe-dropdown {
  position: relative;

  &__select {
    width: 100%;
    padding: $size-sm;
    padding-right: 56px;
    border: 1px solid get-color(primary);
    border-radius: 0;
    // sass-lint:disable-all
    background: $white
      url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz48c3ZnIGlkPSJMYXllcl8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1MCA1MCI+PHJlY3Qgd2lkdGg9IjUwIiBoZWlnaHQ9IjUwIiBmaWxsPSIjMjQzYzUwIiBzdHJva2Utd2lkdGg9IjAiLz48ZyBpZD0iRm9ybS1FbGVtZW50cyI+PGcgaWQ9IkZvcm0tRWxlbWVudHMtXy1Ecm9wZG93bi1fLUNsb3NlZCI+PGcgaWQ9IkNhcmV0Ij48ZyBpZD0iSWNvbi1fLUNhcmV0LV8tRG93biI+PHBhdGggaWQ9IlBhdGgiIGQ9Ik0xNy4xMTEyLDE5aDE1LjYyNDljLjY3MDEsMCwxLjIxMzMuNTQzMywxLjIxMzIsMS4yMTM0LDAsLjMyMTYtLjEyNzcuNjMtLjM1NS44NTc1bC03LjgxMTIsNy44MTZjLS40NzU0LjQ3My0xLjI0MzUuNDczLTEuNzE4OSwwbC03LjgxMTItNy44MTZjLS40NzM2LS40NzQtLjQ3MzMtMS4yNDIyLjAwMDctMS43MTU5LjIyNzUtLjIyNzMuNTM1OS0uMzU1Ljg1NzUtLjM1NVoiIGZpbGw9IiNmZmYiIHN0cm9rZS13aWR0aD0iMCIvPjwvZz48L2c+PC9nPjwvZz48L3N2Zz4=")
      no-repeat right;
    appearance: none;
    background-size: contain;
    @include type-setting(0);
    color: get-color(text);
  }
}
