.wmcads-fe-dropdown {
  position: relative;

  &__select {
    width: 100%;
    padding: $size-sm;
    padding-right: 56px;
    border: 1px solid get-color(primary);
    border-radius: 0;
    // sass-lint:disable-all
    background: $white
      url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='256' height='256' viewBox='0 0 256 256'%3E%3Crect x='-1' y='-1' width='258' height='258' id='canvas_background' fill='%23c05701'/%3E%3Cpath fill='white' d='M40.525 71h173.95c12.034 0 18.051 14.533 9.533 23.05l-86.942 86.996c-5.273 5.272-13.859 5.272-19.132 0L30.992 94.05C22.474 85.533 28.491 71 40.525 71z'/%3E%3C/svg%3E%0A")
      no-repeat right;
    appearance: none;
    background-size: contain;
    @include type-setting(0);
    color: get-color(text);
  }
}
