{% macro wmcadsDropdown(params) %}

{# Imports #}
{% from "wmcads/components/form-elements/label/_label.njk" import wmcadsLabel %}

{# Params #}
{% set id = params.id if params.id else "dropdown" %}
{% set label = params.label if params.label else "Dropdown label" %}

<div class="ds-fe-group">
  <div class="ds-fe-dropdown">
    {{
      wmcadsLabel({
        contentText: label,
        for: id
      }) | trim
    }}
    <select class="ds-fe-dropdown__select" id="{{id}}" name="{{id}}">
      <option value="" selected="selected">Choose from list</option>
      {%- for i in range(1,6) %}
      <option value="{{i}}">Option {{i}}</option>
      {%- endfor %}
    </select>
  </div>
</div>

{% endmacro %}