.ds-fe-dropdown {
  position: relative;

  &__select {
    width: 100%;
    padding: $size-sm;
    padding-right: 56px;
    border: 1px solid get-color(primary);
    border-radius: 0;
    // sass-lint:disable-all
    background: $white
      url("data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1MCA1MCI+PHJlY3Qgd2lkdGg9IjUwIiBoZWlnaHQ9IjUwIiBmaWxsPSIjYzA1NzAxIi8+PGcgaWQ9IkZvcm0tRWxlbWVudHMiPjxnIGlkPSJGb3JtLUVsZW1lbnRzLV8tRHJvcGRvd24tXy1DbG9zZWQiIGRhdGEtbmFtZT0iRm9ybS1FbGVtZW50cy0vLURyb3Bkb3duLS8tQ2xvc2VkIj48ZyBpZD0iQ2FyZXQiPjxnIGlkPSJJY29uLV8tQ2FyZXQtXy1Eb3duIiBkYXRhLW5hbWU9Ikljb24tLy1DYXJldC0vLURvd24iPjxwYXRoIGlkPSJQYXRoIiBkPSJNMTcuMTExMiwxOUgzMi43MzYxYTEuMjEzMywxLjIxMzMsMCwwLDEsLjg1ODIsMi4wNzA5bC03LjgxMTIsNy44MTZhMS4yMTg1LDEuMjE4NSwwLDAsMS0xLjcxODksMGwtNy44MTEyLTcuODE2QTEuMjEzMywxLjIxMzMsMCwwLDEsMTcuMTExMiwxOVoiIGZpbGw9IiNmZmYiLz48L2c+PC9nPjwvZz48L2c+PC9zdmc+")
      no-repeat right;
    appearance: none;
    background-size: contain;
    @include type-setting(0);
    color: get-color(text);
  }
}
