{% raw %}
{% from "wmcads/patterns/banner/homepage-banner/_homepage-banner.njk" import wmcadsHomepageBanner %}

{{
  wmcadsHomepageBanner({
    titleHTML: "Bringing transport <br>together",
    image: "/img/component-images/banner/homepage-banner-img.png",
  })
}}
{% endraw %}