.wmcads-portfolio-leads {
  display: block;
  padding: 15px;
  border-bottom: 5px solid get-color(primary);
  background: $white;
  max-width: 374px;

  img {
    display: inline-block;
    max-height: 100px;
    object-fit: contain;
    object-position: top;
  }

  h4,
  p {
    margin-top: 0;
    margin-bottom: 5px;
  }


  &-details {
    display: inline-block;
    margin-bottom: 24px;
  }
}
