.wmcads-portfolio-leads {
  display: block;
  padding: 10px;
  background: get-color(background);

  h4 {
    margin-bottom: 0;
  }

  img {
    display: inline-block;
    height: 100px;
    margin-right: 10px;
    object-fit: cover;
  }

  div {
    font-size: 14px;
  }

  &-details {
    display: inline-block;
    width: calc(100% - 98px);
    vertical-align: top;
  }
}
