{% macro wmcadsPortfolioLeads() %} 


<div class="wmcads-portfolio-leads">
  <img src="https://www.wmca.org.uk/media/4385/matt-wagg-photo.jpg?anchor=center&mode=crop&width=500&height=400" alt="portaits pic">
  <div class="wmcads-portfolio-leads-details">
    <h4>Portfolio Holder</h4>
    <div>Councillor Joe Bloggs</div>
    <div>Leader of Anywhere Council</div>
  </div>
  <br>
  <img src="https://www.wmca.org.uk/media/4385/matt-wagg-photo.jpg?anchor=center&mode=crop&width=500&height=400" alt="portaits pic">
  <div class="wmcads-portfolio-leads-details">
    <h4>Portfolio Holder</h4>
    <div>Councillor Joe Bloggs</div>
    <div>Leader of Anywhere Council</div>
  </div>  
</div>
{% endmacro %}