{% macro wmcadsPortfolioLeads() %} 
<div class="wmcads-portfolio-leads">
  <div class="wmcads-grid">
    <div class="wmcads-col-6-24 wmcads-col-sm-6-24 wmcads-col-md-8-24 wmcads-col-lg-4-24">
      <img src="https://via.placeholder.com/400x400" alt="portait photograph of Portfolio Holder">
    </div>
    <div class="wmcads-portfolio-leads-details wmcads-col-18-24 wmcads-col-sm-18-24 wmcads-col-md-16-24 wmcads-col-lg-20-24 wmcads-p-l-sm">
      <h4>Portfolio Holder</h4>
      <p>Councillor Joe Bloggs</p>
      <p>Leader of Anywhere Council</p>
    </div>
    <div class="wmcads-col-6-24 wmcads-col-sm-6-24 wmcads-col-md-8-24 wmcads-col-lg-4-24">
      <img src="https://via.placeholder.com/400x400" alt="portait photograph of Lead Officer">
    </div>
    <div class="wmcads-portfolio-leads-details wmcads-col-18-24 wmcads-col-sm-18-24 wmcads-col-md-16-24 wmcads-col-lg-20-24 wmcads-p-l-sm">
      <h4>Lead Officer</h4>
      <p>Councillor Joe Bloggs</p>
      <p>Leader of Anywhere Council</p>
    </div>
  </div>
</div>
{% endmacro %}