{% macro wmcadsPortfolioLeads() %} 


<div class="wmcads-portfolio-leads">
  <img src="https://via.placeholder.com/500x400" alt="portaits pic">
  <div class="wmcads-portfolio-leads-details">
    <h4>Portfolio Holder</h4>
    <div>Councillor Joe Bloggs</div>
    <div>Leader of Anywhere Council</div>
  </div>
  <br>
  <img src="https://via.placeholder.com/500x400" alt="portaits pic">
  <div class="wmcads-portfolio-leads-details">
    <h4>Lead Officer</h4>
    <div>Councillor Joe Bloggs</div>
    <div>Leader of Anywhere Council</div>
  </div>  
</div>
{% endmacro %}