.wmcads-hub-header {
  display: flex;
  position: relative;
  height: 230px;
  color: $white;
  background: get-color(primary);

  @media (max-width: $breakpoint-md) {
    height: 300px;
  }

  img:not(.icon) {
    display: inline-block;
    width: 50%;
    height: 100%;
    object-fit: cover;

    @media (max-width: $breakpoint-md) {
      display: none;
    }
  }

  &-left-pane {
    display: inline-block;
    position: relative;
    width: 50%;
    height: 100%;

    @media (max-width: $breakpoint-md) {
      width: 100%;
    }

    &:after {
      content: "";
      display: inline-block;
      position: absolute;
      top: 33px;
      right: -92px;
      width: 164px;
      height: 164px;
      margin-right: 10px;
      transform: rotate(45deg);
      border-radius: 0 120px 0 0;
      background-color: get-color(primary);

      @media (max-width: $breakpoint-md) {
       display: none;
      }
    }
  }

  &-text-pane {
    position: absolute;
    left: calc((100% - 927px) / 2);
    max-width: 468px;
    overflow: auto;
    align-self: center;

    @media (max-width: $breakpoint-lg) {
      margin: $size-md;
      left: $size-sm;
    }

    .icon {
      margin-bottom: 10px;
    }

    img {
      height: 34px;
    }

    h1 {
      margin: 0;
      color: $white;
    }

    .text {
      max-width: 400px;
      margin-top: 10px;
    }
  }
}

