{% macro wmcadsHubHeader(params) %}
  <div class="wmcads-hub-header">
      <div class="left-pane"></div>
      <img class="banner" src="https://www.wmca.org.uk/media/3415/wmca-bournville-131.jpg?anchor=center&mode=crop&width=2500&height=800&rnd=132122595620000000" alt="page title"/>
      <div class="text-pane">
          <h1>Page title</h1>
          <div class="text">Subtext</div>
      </div>        
  </div>
{% endmacro %}