hr,
.ds-divider {
  height: 5px;
  border: 0;
  background-color: get-color(primary);

  &-half {
    width: 50%;
    margin-left: 0;

    @media (max-width: $breakpoint-sm) {
      width: 100%;
    }
  }

  &-grey {
    background-color: get-color(brandCoolGrey);
  }

  &-wmgreen {
    background-color: get-color(brandWmGreen);
  }

  &-wmred {
    background-color: get-color(brandWmRed);
  }

  &-wmpurple {
    background-color: get-color(brandWmPurple);
  }

  &-wmblue {
    background-color: get-color(brandWmBlue);
  }

  &-wmfurnaceorange {
    background-color: get-color(brandFurnaceOrange);
  }

  &-wmtintsbrown {
    background-color: get-color(brandWmTintBrown);
  }

  &-wmtintsgreen {
    background-color: get-color(brandWmTintGreen);
  }

  &-tfwmpink {
    background-color: get-color(brandTfwmPink);
  }

  &-tfwmyellow {
    background-color: get-color(brandTfwmYellow);
  }

}
