{% macro wmcadsDivider(params) %} 
{% set class = " " + params.class if params.class else "wmcads-divider-primary" %}

<hr{% if(params.class) %} class="wmcads-divider-{{params.class}}"{% endif %} aria-hidden="true">

{% endmacro %}