{% macro wmcadsDivider(params) %} 
{% set class = " " + params.class if params.class else "ds-divider-primary" %}

<hr{% if(params.class) %} class="ds-divider-{{params.class}} {% if(params.half) %}ds-divider-half{% endif %}"{% endif %} aria-hidden="true">

{% endmacro %}