{% macro wmcadsAccordion(params) %}
{# Imports #}
{% from "wmcads/components/icon/_icon.njk" import wmcadsIcon %}
{% from "wmcads/components/disruption-indicator/small/_small.njk" import wmcadsDisruptionIndicatorSmall %}
{% from "wmcads/components/disruption-indicator/medium/_medium.njk" import wmcadsDisruptionIndicatorMedium as wmcadsDisruptionIndicatorNarrow %}
{% from "wmcads/components/icon/_icon.njk" import wmcadsIcon %}
{# Params #}
{% set isOpen = " ds-is--open" if params.isOpen %}
{% set isExpanded = "true" if params.isOpen else "false" %}
{% set id = params.id if params.id else "accordion-01" %}

<div class="ds-accordion{{isOpen}}">
  <button aria-controls="{{id}}" class="ds-accordion__summary-wrapper" aria-expanded="{{isExpanded}}">
    <!-- accordion summary -->
    <div class="ds-accordion__summary">
      {% if params.customSummary -%}
      <!-- custom summary using grid -->
      <div class="ds-grid ds-grid--align-center">
        {{
          wmcadsDisruptionIndicatorSmall({
            classModifiers: 'ds-col-auto ds-m-r-md',
            mode: 'bus'
          }) | indent(10) | trim
        }}
        <div class="ds-col-auto">
          Resurfacing Works at <strong>Abbey Street, Lower Gornal</strong>
        </div>
      </div>
      {%- else -%}
        <h3 class="ds-m-b-none ds-h4">Accordion</h3>
      {%- endif %}
    </div>
    <!-- plus icon -->
    {{
      wmcadsIcon({
        icon: 'general-expand',
        class: 'ds-accordion__icon'
      }) | indent(4) | trim
    }}
    <!-- minus icon -->
    {{
      wmcadsIcon({
        icon: 'general-minimise',
        class: 'ds-accordion__icon ds-accordion__icon--minimise'
      }) | indent(4) | trim
    }}
  </button>

  <!-- accordion content -->
  <div class="ds-accordion__content" id="{{id}}">
    <p>
      <strong>Some random subtitle</strong>
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt consectetur, eius repellat dolor vel corporis eos fugiat. Ut totam, incidunt sequi iusto nesciunt illum natus, dolores velit cumque, excepturi labore!
    </p>
  </div>
</div>

{% endmacro %}