// When setting the primary font stack, apply it to the Pure grid units along
// with `html`, `button`, `input`, `select`, and `textarea`. Pure Grids use
// specific font stacks to ensure the greatest OS/browser compatibility.
html,
button,
input,
select,
textarea,
.wmcads-grid [class*="wmcads-col-"] {
  font-family: $x-font-family;
  -webkit-font-smoothing: antialiased;
}

.wmcads-grid {
  display: flex;
  width: 100%;
  text-rendering: optimizespeed;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
}

.wmcads-col-auto {
  width: auto;
}

.wmcads-col-1-24 {
  width: 4.1667%;
}

.wmcads-col-1-12,
.wmcads-col-2-24 {
  width: 8.3333%;
}

.wmcads-col-1-8,
.wmcads-col-3-24 {
  width: 12.5%;
}

.wmcads-col-1-6,
.wmcads-col-4-24 {
  width: 16.6667%;
}

.wmcads-col-1-5 {
  width: 20%;
}

.wmcads-col-5-24 {
  width: 20.8333%;
}

.wmcads-col-1-4,
.wmcads-col-6-24 {
  width: 25%;
}

.wmcads-col-7-24 {
  width: 29.1667%;
}

.wmcads-col-1-3,
.wmcads-col-8-24 {
  width: 33.3333%;
}

.wmcads-col-3-8,
.wmcads-col-9-24 {
  width: 37.5%;
}

.wmcads-col-2-5 {
  width: 40%;
}

.wmcads-col-5-12,
.wmcads-col-10-24 {
  width: 41.6667%;
}

.wmcads-col-11-24 {
  width: 45.8333%;
}

.wmcads-col-1-2,
.wmcads-col-12-24 {
  width: 50%;
}

.wmcads-col-13-24 {
  width: 54.1667%;
}

.wmcads-col-7-12,
.wmcads-col-14-24 {
  width: 58.3333%;
}

.wmcads-col-3-5 {
  width: 60%;
}

.wmcads-col-5-8,
.wmcads-col-15-24 {
  width: 62.5%;
}

.wmcads-col-2-3,
.wmcads-col-16-24 {
  width: 66.6667%;
}

.wmcads-col-17-24 {
  width: 70.8333%;
}

.wmcads-col-3-4,
.wmcads-col-18-24 {
  width: 75%;
}

.wmcads-col-19-24 {
  width: 79.1667%;
}

.wmcads-col-4-5 {
  width: 80%;
}

.wmcads-col-5-6,
.wmcads-col-20-24 {
  width: 83.3333%;
}

.wmcads-col-7-8,
.wmcads-col-21-24 {
  width: 87.5%;
}

.wmcads-col-11-12,
.wmcads-col-22-24 {
  width: 91.6667%;
}

.wmcads-col-23-24 {
  width: 95.8333%;
}

.wmcads-col-1,
.wmcads-col-1-1,
.wmcads-col-5-5,
.wmcads-col-24-24 {
  width: 100%;
}

.wmcads-col-auto,
.wmcads-col-1,
.wmcads-col-1-1,
.wmcads-col-1-12,
.wmcads-col-1-2,
.wmcads-col-1-24,
.wmcads-col-1-3,
.wmcads-col-1-4,
.wmcads-col-1-5,
.wmcads-col-1-6,
.wmcads-col-1-8,
.wmcads-col-10-24,
.wmcads-col-11-12,
.wmcads-col-11-24,
.wmcads-col-12-24,
.wmcads-col-13-24,
.wmcads-col-14-24,
.wmcads-col-15-24,
.wmcads-col-16-24,
.wmcads-col-17-24,
.wmcads-col-18-24,
.wmcads-col-19-24,
.wmcads-col-2-24,
.wmcads-col-2-3,
.wmcads-col-2-5,
.wmcads-col-20-24,
.wmcads-col-21-24,
.wmcads-col-22-24,
.wmcads-col-23-24,
.wmcads-col-24-24,
.wmcads-col-3-24,
.wmcads-col-3-4,
.wmcads-col-3-5,
.wmcads-col-3-8,
.wmcads-col-4-24,
.wmcads-col-4-5,
.wmcads-col-5-12,
.wmcads-col-5-24,
.wmcads-col-5-5,
.wmcads-col-5-6,
.wmcads-col-5-8,
.wmcads-col-6-24,
.wmcads-col-7-12,
.wmcads-col-7-24,
.wmcads-col-7-8,
.wmcads-col-8-24,
.wmcads-col-9-24 {
  display: inline-block;
  zoom: 1;
  letter-spacing: normal;
  word-spacing: normal;
  text-rendering: auto;
  vertical-align: top;
}

@media screen and (min-width: 35.5em) {
  .wmcads-col-sm-auto,
  .wmcads-col-sm-1,
  .wmcads-col-sm-1-1,
  .wmcads-col-sm-1-2,
  .wmcads-col-sm-1-3,
  .wmcads-col-sm-2-3,
  .wmcads-col-sm-1-4,
  .wmcads-col-sm-3-4,
  .wmcads-col-sm-1-5,
  .wmcads-col-sm-2-5,
  .wmcads-col-sm-3-5,
  .wmcads-col-sm-4-5,
  .wmcads-col-sm-5-5,
  .wmcads-col-sm-1-6,
  .wmcads-col-sm-5-6,
  .wmcads-col-sm-1-8,
  .wmcads-col-sm-3-8,
  .wmcads-col-sm-5-8,
  .wmcads-col-sm-7-8,
  .wmcads-col-sm-1-12,
  .wmcads-col-sm-5-12,
  .wmcads-col-sm-7-12,
  .wmcads-col-sm-11-12,
  .wmcads-col-sm-1-24,
  .wmcads-col-sm-2-24,
  .wmcads-col-sm-3-24,
  .wmcads-col-sm-4-24,
  .wmcads-col-sm-5-24,
  .wmcads-col-sm-6-24,
  .wmcads-col-sm-7-24,
  .wmcads-col-sm-8-24,
  .wmcads-col-sm-9-24,
  .wmcads-col-sm-10-24,
  .wmcads-col-sm-11-24,
  .wmcads-col-sm-12-24,
  .wmcads-col-sm-13-24,
  .wmcads-col-sm-14-24,
  .wmcads-col-sm-15-24,
  .wmcads-col-sm-16-24,
  .wmcads-col-sm-17-24,
  .wmcads-col-sm-18-24,
  .wmcads-col-sm-19-24,
  .wmcads-col-sm-20-24,
  .wmcads-col-sm-21-24,
  .wmcads-col-sm-22-24,
  .wmcads-col-sm-23-24,
  .wmcads-col-sm-24-24 {
    display: inline-block;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    text-rendering: auto;
    vertical-align: top;
  }

  .wmcads-col-sm-auto {
    width: auto;
  }

  .wmcads-col-sm-1-24 {
    width: 4.1667%;
  }

  .wmcads-col-sm-1-12,
  .wmcads-col-sm-2-24 {
    width: 8.3333%;
  }

  .wmcads-col-sm-1-8,
  .wmcads-col-sm-3-24 {
    width: 12.5%;
  }

  .wmcads-col-sm-1-6,
  .wmcads-col-sm-4-24 {
    width: 16.6667%;
  }

  .wmcads-col-sm-1-5 {
    width: 20%;
  }

  .wmcads-col-sm-5-24 {
    width: 20.8333%;
  }

  .wmcads-col-sm-1-4,
  .wmcads-col-sm-6-24 {
    width: 25%;
  }

  .wmcads-col-sm-7-24 {
    width: 29.1667%;
  }

  .wmcads-col-sm-1-3,
  .wmcads-col-sm-8-24 {
    width: 33.3333%;
  }

  .wmcads-col-sm-3-8,
  .wmcads-col-sm-9-24 {
    width: 37.5%;
  }

  .wmcads-col-sm-2-5 {
    width: 40%;
  }

  .wmcads-col-sm-5-12,
  .wmcads-col-sm-10-24 {
    width: 41.6667%;
  }

  .wmcads-col-sm-11-24 {
    width: 45.8333%;
  }

  .wmcads-col-sm-1-2,
  .wmcads-col-sm-12-24 {
    width: 50%;
  }

  .wmcads-col-sm-13-24 {
    width: 54.1667%;
  }

  .wmcads-col-sm-7-12,
  .wmcads-col-sm-14-24 {
    width: 58.3333%;
  }

  .wmcads-col-sm-3-5 {
    width: 60%;
  }

  .wmcads-col-sm-5-8,
  .wmcads-col-sm-15-24 {
    width: 62.5%;
  }

  .wmcads-col-sm-2-3,
  .wmcads-col-sm-16-24 {
    width: 66.6667%;
  }

  .wmcads-col-sm-17-24 {
    width: 70.8333%;
  }

  .wmcads-col-sm-3-4,
  .wmcads-col-sm-18-24 {
    width: 75%;
  }

  .wmcads-col-sm-19-24 {
    width: 79.1667%;
  }

  .wmcads-col-sm-4-5 {
    width: 80%;
  }

  .wmcads-col-sm-5-6,
  .wmcads-col-sm-20-24 {
    width: 83.3333%;
  }

  .wmcads-col-sm-7-8,
  .wmcads-col-sm-21-24 {
    width: 87.5%;
  }

  .wmcads-col-sm-11-12,
  .wmcads-col-sm-22-24 {
    width: 91.6667%;
  }

  .wmcads-col-sm-23-24 {
    width: 95.8333%;
  }

  .wmcads-col-sm-1,
  .wmcads-col-sm-1-1,
  .wmcads-col-sm-5-5,
  .wmcads-col-sm-24-24 {
    width: 100%;
  }
}

@media screen and (min-width: 48em) {
  .wmcads-col-md-auto,
  .wmcads-col-md-1,
  .wmcads-col-md-1-1,
  .wmcads-col-md-1-2,
  .wmcads-col-md-1-3,
  .wmcads-col-md-2-3,
  .wmcads-col-md-1-4,
  .wmcads-col-md-3-4,
  .wmcads-col-md-1-5,
  .wmcads-col-md-2-5,
  .wmcads-col-md-3-5,
  .wmcads-col-md-4-5,
  .wmcads-col-md-5-5,
  .wmcads-col-md-1-6,
  .wmcads-col-md-5-6,
  .wmcads-col-md-1-8,
  .wmcads-col-md-3-8,
  .wmcads-col-md-5-8,
  .wmcads-col-md-7-8,
  .wmcads-col-md-1-12,
  .wmcads-col-md-5-12,
  .wmcads-col-md-7-12,
  .wmcads-col-md-11-12,
  .wmcads-col-md-1-24,
  .wmcads-col-md-2-24,
  .wmcads-col-md-3-24,
  .wmcads-col-md-4-24,
  .wmcads-col-md-5-24,
  .wmcads-col-md-6-24,
  .wmcads-col-md-7-24,
  .wmcads-col-md-8-24,
  .wmcads-col-md-9-24,
  .wmcads-col-md-10-24,
  .wmcads-col-md-11-24,
  .wmcads-col-md-12-24,
  .wmcads-col-md-13-24,
  .wmcads-col-md-14-24,
  .wmcads-col-md-15-24,
  .wmcads-col-md-16-24,
  .wmcads-col-md-17-24,
  .wmcads-col-md-18-24,
  .wmcads-col-md-19-24,
  .wmcads-col-md-20-24,
  .wmcads-col-md-21-24,
  .wmcads-col-md-22-24,
  .wmcads-col-md-23-24,
  .wmcads-col-md-24-24 {
    display: inline-block;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    text-rendering: auto;
    vertical-align: top;
  }

  .wmcads-col-md-auto {
    width: auto;
  }

  .wmcads-col-md-1-24 {
    width: 4.1667%;
  }

  .wmcads-col-md-1-12,
  .wmcads-col-md-2-24 {
    width: 8.3333%;
  }

  .wmcads-col-md-1-8,
  .wmcads-col-md-3-24 {
    width: 12.5%;
  }

  .wmcads-col-md-1-6,
  .wmcads-col-md-4-24 {
    width: 16.6667%;
  }

  .wmcads-col-md-1-5 {
    width: 20%;
  }

  .wmcads-col-md-5-24 {
    width: 20.8333%;
  }

  .wmcads-col-md-1-4,
  .wmcads-col-md-6-24 {
    width: 25%;
  }

  .wmcads-col-md-7-24 {
    width: 29.1667%;
  }

  .wmcads-col-md-1-3,
  .wmcads-col-md-8-24 {
    width: 33.3333%;
  }

  .wmcads-col-md-3-8,
  .wmcads-col-md-9-24 {
    width: 37.5%;
  }

  .wmcads-col-md-2-5 {
    width: 40%;
  }

  .wmcads-col-md-5-12,
  .wmcads-col-md-10-24 {
    width: 41.6667%;
  }

  .wmcads-col-md-11-24 {
    width: 45.8333%;
  }

  .wmcads-col-md-1-2,
  .wmcads-col-md-12-24 {
    width: 50%;
  }

  .wmcads-col-md-13-24 {
    width: 54.1667%;
  }

  .wmcads-col-md-7-12,
  .wmcads-col-md-14-24 {
    width: 58.3333%;
  }

  .wmcads-col-md-3-5 {
    width: 60%;
  }

  .wmcads-col-md-5-8,
  .wmcads-col-md-15-24 {
    width: 62.5%;
  }

  .wmcads-col-md-2-3,
  .wmcads-col-md-16-24 {
    width: 66.6667%;
  }

  .wmcads-col-md-17-24 {
    width: 70.8333%;
  }

  .wmcads-col-md-3-4,
  .wmcads-col-md-18-24 {
    width: 75%;
  }

  .wmcads-col-md-19-24 {
    width: 79.1667%;
  }

  .wmcads-col-md-4-5 {
    width: 80%;
  }

  .wmcads-col-md-5-6,
  .wmcads-col-md-20-24 {
    width: 83.3333%;
  }

  .wmcads-col-md-7-8,
  .wmcads-col-md-21-24 {
    width: 87.5%;
  }

  .wmcads-col-md-11-12,
  .wmcads-col-md-22-24 {
    width: 91.6667%;
  }

  .wmcads-col-md-23-24 {
    width: 95.8333%;
  }

  .wmcads-col-md-1,
  .wmcads-col-md-1-1,
  .wmcads-col-md-5-5,
  .wmcads-col-md-24-24 {
    width: 100%;
  }
}

@media screen and (min-width: 62em) {
  .wmcads-col-lg-auto,
  .wmcads-col-lg-1,
  .wmcads-col-lg-1-1,
  .wmcads-col-lg-1-2,
  .wmcads-col-lg-1-3,
  .wmcads-col-lg-2-3,
  .wmcads-col-lg-1-4,
  .wmcads-col-lg-3-4,
  .wmcads-col-lg-1-5,
  .wmcads-col-lg-2-5,
  .wmcads-col-lg-3-5,
  .wmcads-col-lg-4-5,
  .wmcads-col-lg-5-5,
  .wmcads-col-lg-1-6,
  .wmcads-col-lg-5-6,
  .wmcads-col-lg-1-8,
  .wmcads-col-lg-3-8,
  .wmcads-col-lg-5-8,
  .wmcads-col-lg-7-8,
  .wmcads-col-lg-1-12,
  .wmcads-col-lg-5-12,
  .wmcads-col-lg-7-12,
  .wmcads-col-lg-11-12,
  .wmcads-col-lg-1-24,
  .wmcads-col-lg-2-24,
  .wmcads-col-lg-3-24,
  .wmcads-col-lg-4-24,
  .wmcads-col-lg-5-24,
  .wmcads-col-lg-6-24,
  .wmcads-col-lg-7-24,
  .wmcads-col-lg-8-24,
  .wmcads-col-lg-9-24,
  .wmcads-col-lg-10-24,
  .wmcads-col-lg-11-24,
  .wmcads-col-lg-12-24,
  .wmcads-col-lg-13-24,
  .wmcads-col-lg-14-24,
  .wmcads-col-lg-15-24,
  .wmcads-col-lg-16-24,
  .wmcads-col-lg-17-24,
  .wmcads-col-lg-18-24,
  .wmcads-col-lg-19-24,
  .wmcads-col-lg-20-24,
  .wmcads-col-lg-21-24,
  .wmcads-col-lg-22-24,
  .wmcads-col-lg-23-24,
  .wmcads-col-lg-24-24 {
    display: inline-block;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    text-rendering: auto;
    vertical-align: top;
  }

  .wmcads-col-lg-auto {
    width: auto;
  }

  .wmcads-col-lg-1-24 {
    width: 4.1667%;
  }

  .wmcads-col-lg-1-12,
  .wmcads-col-lg-2-24 {
    width: 8.3333%;
  }

  .wmcads-col-lg-1-8,
  .wmcads-col-lg-3-24 {
    width: 12.5%;
  }

  .wmcads-col-lg-1-6,
  .wmcads-col-lg-4-24 {
    width: 16.6667%;
  }

  .wmcads-col-lg-1-5 {
    width: 20%;
  }

  .wmcads-col-lg-5-24 {
    width: 20.8333%;
  }

  .wmcads-col-lg-1-4,
  .wmcads-col-lg-6-24 {
    width: 25%;
  }

  .wmcads-col-lg-7-24 {
    width: 29.1667%;
  }

  .wmcads-col-lg-1-3,
  .wmcads-col-lg-8-24 {
    width: 33.3333%;
  }

  .wmcads-col-lg-3-8,
  .wmcads-col-lg-9-24 {
    width: 37.5%;
  }

  .wmcads-col-lg-2-5 {
    width: 40%;
  }

  .wmcads-col-lg-5-12,
  .wmcads-col-lg-10-24 {
    width: 41.6667%;
  }

  .wmcads-col-lg-11-24 {
    width: 45.8333%;
  }

  .wmcads-col-lg-1-2,
  .wmcads-col-lg-12-24 {
    width: 50%;
  }

  .wmcads-col-lg-13-24 {
    width: 54.1667%;
  }

  .wmcads-col-lg-7-12,
  .wmcads-col-lg-14-24 {
    width: 58.3333%;
  }

  .wmcads-col-lg-3-5 {
    width: 60%;
  }

  .wmcads-col-lg-5-8,
  .wmcads-col-lg-15-24 {
    width: 62.5%;
  }

  .wmcads-col-lg-2-3,
  .wmcads-col-lg-16-24 {
    width: 66.6667%;
  }

  .wmcads-col-lg-17-24 {
    width: 70.8333%;
  }

  .wmcads-col-lg-3-4,
  .wmcads-col-lg-18-24 {
    width: 75%;
  }

  .wmcads-col-lg-19-24 {
    width: 79.1667%;
  }

  .wmcads-col-lg-4-5 {
    width: 80%;
  }

  .wmcads-col-lg-5-6,
  .wmcads-col-lg-20-24 {
    width: 83.3333%;
  }

  .wmcads-col-lg-7-8,
  .wmcads-col-lg-21-24 {
    width: 87.5%;
  }

  .wmcads-col-lg-11-12,
  .wmcads-col-lg-22-24 {
    width: 91.6667%;
  }

  .wmcads-col-lg-23-24 {
    width: 95.8333%;
  }

  .wmcads-col-lg-1,
  .wmcads-col-lg-1-1,
  .wmcads-col-lg-5-5,
  .wmcads-col-lg-24-24 {
    width: 100%;
  }
}

@media screen and (min-width: 80em) {
  .wmcads-col-xl-auto,
  .wmcads-col-xl-1,
  .wmcads-col-xl-1-1,
  .wmcads-col-xl-1-2,
  .wmcads-col-xl-1-3,
  .wmcads-col-xl-2-3,
  .wmcads-col-xl-1-4,
  .wmcads-col-xl-3-4,
  .wmcads-col-xl-1-5,
  .wmcads-col-xl-2-5,
  .wmcads-col-xl-3-5,
  .wmcads-col-xl-4-5,
  .wmcads-col-xl-5-5,
  .wmcads-col-xl-1-6,
  .wmcads-col-xl-5-6,
  .wmcads-col-xl-1-8,
  .wmcads-col-xl-3-8,
  .wmcads-col-xl-5-8,
  .wmcads-col-xl-7-8,
  .wmcads-col-xl-1-12,
  .wmcads-col-xl-5-12,
  .wmcads-col-xl-7-12,
  .wmcads-col-xl-11-12,
  .wmcads-col-xl-1-24,
  .wmcads-col-xl-2-24,
  .wmcads-col-xl-3-24,
  .wmcads-col-xl-4-24,
  .wmcads-col-xl-5-24,
  .wmcads-col-xl-6-24,
  .wmcads-col-xl-7-24,
  .wmcads-col-xl-8-24,
  .wmcads-col-xl-9-24,
  .wmcads-col-xl-10-24,
  .wmcads-col-xl-11-24,
  .wmcads-col-xl-12-24,
  .wmcads-col-xl-13-24,
  .wmcads-col-xl-14-24,
  .wmcads-col-xl-15-24,
  .wmcads-col-xl-16-24,
  .wmcads-col-xl-17-24,
  .wmcads-col-xl-18-24,
  .wmcads-col-xl-19-24,
  .wmcads-col-xl-20-24,
  .wmcads-col-xl-21-24,
  .wmcads-col-xl-22-24,
  .wmcads-col-xl-23-24,
  .wmcads-col-xl-24-24 {
    display: inline-block;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    text-rendering: auto;
    vertical-align: top;
  }

  .wmcads-col-xl-auto {
    width: auto;
  }

  .wmcads-col-xl-1-24 {
    width: 4.1667%;
  }

  .wmcads-col-xl-1-12,
  .wmcads-col-xl-2-24 {
    width: 8.3333%;
  }

  .wmcads-col-xl-1-8,
  .wmcads-col-xl-3-24 {
    width: 12.5%;
  }

  .wmcads-col-xl-1-6,
  .wmcads-col-xl-4-24 {
    width: 16.6667%;
  }

  .wmcads-col-xl-1-5 {
    width: 20%;
  }

  .wmcads-col-xl-5-24 {
    width: 20.8333%;
  }

  .wmcads-col-xl-1-4,
  .wmcads-col-xl-6-24 {
    width: 25%;
  }

  .wmcads-col-xl-7-24 {
    width: 29.1667%;
  }

  .wmcads-col-xl-1-3,
  .wmcads-col-xl-8-24 {
    width: 33.3333%;
  }

  .wmcads-col-xl-3-8,
  .wmcads-col-xl-9-24 {
    width: 37.5%;
  }

  .wmcads-col-xl-2-5 {
    width: 40%;
  }

  .wmcads-col-xl-5-12,
  .wmcads-col-xl-10-24 {
    width: 41.6667%;
  }

  .wmcads-col-xl-11-24 {
    width: 45.8333%;
  }

  .wmcads-col-xl-1-2,
  .wmcads-col-xl-12-24 {
    width: 50%;
  }

  .wmcads-col-xl-13-24 {
    width: 54.1667%;
  }

  .wmcads-col-xl-7-12,
  .wmcads-col-xl-14-24 {
    width: 58.3333%;
  }

  .wmcads-col-xl-3-5 {
    width: 60%;
  }

  .wmcads-col-xl-5-8,
  .wmcads-col-xl-15-24 {
    width: 62.5%;
  }

  .wmcads-col-xl-2-3,
  .wmcads-col-xl-16-24 {
    width: 66.6667%;
  }

  .wmcads-col-xl-17-24 {
    width: 70.8333%;
  }

  .wmcads-col-xl-3-4,
  .wmcads-col-xl-18-24 {
    width: 75%;
  }

  .wmcads-col-xl-19-24 {
    width: 79.1667%;
  }

  .wmcads-col-xl-4-5 {
    width: 80%;
  }

  .wmcads-col-xl-5-6,
  .wmcads-col-xl-20-24 {
    width: 83.3333%;
  }

  .wmcads-col-xl-7-8,
  .wmcads-col-xl-21-24 {
    width: 87.5%;
  }

  .wmcads-col-xl-11-12,
  .wmcads-col-xl-22-24 {
    width: 91.6667%;
  }

  .wmcads-col-xl-23-24 {
    width: 95.8333%;
  }

  .wmcads-col-xl-1,
  .wmcads-col-xl-1-1,
  .wmcads-col-xl-5-5,
  .wmcads-col-xl-24-24 {
    width: 100%;
  }
}
