// When setting the primary font stack, apply it to the Pure grid units along
// with `html`, `button`, `input`, `select`, and `textarea`. Pure Grids use
// specific font stacks to ensure the greatest OS/browser compatibility.
html,
button,
input,
select,
textarea,
.wmcads-grid [class*="wmcads-col-"] {
  font-family: $x-font-family;
  -webkit-font-smoothing: antialiased;
}

.wmcads-grid {
  display: flex;
  width: 100%;
  text-rendering: optimizespeed;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;

  [class*="wmcads-col-"] {
    display: inline-block;
    zoom: 1;
    word-spacing: normal;
    text-rendering: auto;
    vertical-align: top;
  }
}

// Import grid components
@import "grid-cols";
@import "grid-spacing";
