{% extends "www/_layouts/template-layout-fullwidth.njk" %} 
{% set pageTitle="Boilerplate" %}
{% set section = "Templates" %}
{% set ds = 'cia' %}

{# Imports #} 
{% from "wmcads/components/link/link/_link.njk" import wmcadsLink %}
{% from "wmcads/components/inset-text/_inset-text.njk" import wmcadsInsetText %} 
{% from "wmcads/components/icon/_icon.njk" import wmcadsIcon %}
{% from "wmcads/components/content-card/_content-card.njk" import wmcadsContentCard %}
{# Set array of tiles #} 

{% block content %}

<main id="ds-main-content" class="ds-container ds-container--main ds-m-t-lg">
    <h1>Coventry</h1>
</main>

{% endblock %}
