{% macro wmcadsCheckboxes(params) %}

{# Imports #}
{% from "wmcads/components/form-elements/label/_label.njk" import wmcadsLabel %}
{% from "wmcads/components/icon/_icon.njk" import wmcadsIcon %}
{% from "wmcads/components/form-elements/question/_question.njk" import wmcadsQuestion %}

{% set hasQuestion = false if params.question === "" else true %}
{% set question = params.question if params.question %}
{% set hasDesc = false if params.question === "" else true %}
{% set desc = params.desc if params.desc else "Select all options that apply" %}
{% set options = params.options if params.options %}
{% set groupClass = params.groupClass if params.groupClass %}


<div class="wmcads-fe-group {{groupClass}}">
  <fieldset class="wmcads-fe-fieldset">
    <legend class="wmcads-fe-fieldset__legend">
    {%- if hasQuestion %}
    {{ 
      wmcadsQuestion({
        text: question
      }) | indent(6) | trim 
    }}
    {% endif -%}
    </legend>
    <div class="wmcads-fe-checkboxes">
      <span class="wmcads-fe-checkboxes__desc">
      {%- if hasDesc %}
      {{ desc | safe}}
      {% endif -%}
      </span>
      {%- if options %}
        {%- for option in options %}
          {%- if option.checked !== null %}
          {%- set isChecked = (' checked="checked"' | safe) if option.checked === true  else "" %}
          {%- set isNotEditable = (' disabled="disabled"' | safe) if option.editable === false else "" %}
          {% endif -%}
          <label class="wmcads-fe-checkboxes__container">
            <div class="wmcads-m-b-lg">
              {%- if option.title %}
              <h3 class="wmcads-m-none wmcads-p-b-sm">{{option.title}}</h3>
              {%- endif -%}
              {%- if option.desc -%}
              {{ option.desc }}
              {% endif -%}
            </div>
            <input class="wmcads-fe-checkboxes__input" value="{{option.title}}" {{isChecked}} type="checkbox" {{isNotEditable}}/>
            <span class="wmcads-fe-checkboxes__checkmark">
              {{
                wmcadsIcon({
                  icon: 'general-checkmark',
                  class: 'wmcads-fe-checkboxes__icon'
                }) | indent(8) | trim
              }}
            </span>
          </label>
        {%- endfor %}
      {%- else %} 
        {%- for i in range(1,4) %}
        {#- Set checked state on first item in loop #}
        {%- set isChecked = (' checked="checked"' | safe) if i === 1 %}
        <label class="wmcads-fe-checkboxes__container">
          Option {{i}}
          <input class="wmcads-fe-checkboxes__input" value="Option {{i}}"{{isChecked}} type="checkbox"/>
          <span class="wmcads-fe-checkboxes__checkmark">
            {# Get SVG icon and pass class #}
            {{
              wmcadsIcon({
                icon: 'general-checkmark',
                class: 'wmcads-fe-checkboxes__icon'
              }) | indent(8) | trim
            }}
          </span>
        </label>
        {%- endfor %}
      {% endif -%}
    </div>
  </fieldset>
</div>
{% endmacro %}
