{% extends "www/_layouts/layout-left-pane.njk" %}
{% set pageTitle = "Banner" %}
{% set section="Patterns" %}
{% from "www/_partials/component-example/component-example.njk" import compExample %}
{% from "wmcads/patterns/banner/_banner.njk" import wmcadsBanner %}

{% block content %}

{% markdown %}

## Normal

{% endmarkdown %}

{{
  compExample([
    wmcadsBanner({
      contentHTML: "This is a new service - your <a href='#/'>feedback</a> will help us to improve it."
    })
  ], {
      componentPath: "wmcads/patterns/banner/",
      njk: true,
      njkProps: wmcadsBannerProps,
      js: false,
      iframe: false
    })
}}

{% markdown %}

{# Banner with phase indicator #}

## With phase indicator

{# What #}

### What does it do?

- Helps users to identify when a service is new
- Offers users the opportunity to give feedback about a new service
  {# When to #}

### When to use it?

- When a service is new

{# When not to #}

### When not to use it?

- On a service that has matured and has a steadily positive rate of satisfaction

{# How #}

### How it works

- A service can be in Alpha (prototype stage) or Beta (when it is on a publicly-accessible website)
- The survey link must point to a Hotjar or service feedback survey, with the service name within the URL. For example, <code class="wmcads-website-inline-code">/?serviceName=descriptiveName</code>.
  A service can either be in Alpha (prototype stage) or Beta (when it is on a publicly accessible website).

{% endmarkdown %}

{{
  compExample([
    wmcadsBanner({
      phase: true
    })
  ], {
      componentPath: "wmcads/patterns/banner/",
      njk: true,
      njkProps: wmcadsBannerProps,
      js: false,
      iframe: false
    })
}}

{% markdown %}

{# Emergency banner #}

## Emergency banner

{# What #}

<h3>What does it do</h3>

- It communicates emergency information and provides advice on what to do.
- When an emergency is no longer relevant, the content will be archived or removed.

{# When to #}

<h3>When to use it?</h3>

- When you need to communicate information that is urgent or critical, which will potentially affect a large group of our users. For example, if there is an emergency situation announced in Birmingham, the banner would advise all users on travel updates and guidance.
- The emergency banner should be placed directly below the main navigation.
- Only show one emergency banner notification at a time.

{# When not to #}

<h3>When not to use it?</h3>

- When a warning or emergency is directly related to a task the user is completing. In this case, use the appropriate <a href="/components/message">Message</a> component to notify users of any issues.
- If the issue is related to a service we are providing such as our customer service, you should place the <a href="/components/warning-text">Warning text</a> and <a href="/components/inset-text">Inset text</a> components next to the affected service, detailing the issue.
- Any disruptions to travel will be highlighted on the home page through the <a href="/components/disruption-indicators">Disruption indicator</a> components.

{# How #}

<h3>How it works</h3>

- The user can dismiss the Emergency banner through the 'Close' link. This will remove the current emergency banner from all pages they visit on the website.
- The On-page variant is only shown when a user is on the Emergency advice page, which can be accessed through the 'Read our latest advice' link.

{# Sitewide #}

### Sitewide

{% endmarkdown %}

{{
  compExample([
    wmcadsBanner({
      contentText: "Emergency notification title",
      emergency: true
    })
  ], {
      componentPath: "wmcads/patterns/banner/",
      njk: true,
      njkProps: wmcadsBannerProps,
      js: false,
      iframe: true
    })
}}

{% markdown %}
{# On-page #}

### On-page variant

{% endmarkdown %}

{{
  compExample([
    wmcadsBanner({
      contentText: "Emergency notification title",
      emergency: true,
      onPage: true
    })
  ], {
      componentPath: "wmcads/patterns/banner/",
      njk: true,
      njkProps: wmcadsBannerProps,
      js: false,
      iframe: false
    })
}}
{% markdown %}

{# Hub page banner #}

## Hub page banner

{# What #}

<h3>What does it do?</h3>

- Helps users to identify they have eventered a Hub section of the website
- Provides users with a short description of the chosen hub of the WMCA

{# When #}

<h3>When to use it?</h3>

- Only on Hub Landing Pages

<h3>When not to use it?</h3>

- On pages where the content is not related to a hub overview

<h3>How it works</h3>

- The image container width will expand if users are viewing the page with a browser width higher than 1280px.
- The image within the container will zoom to fill the size of the image container.
- The image will be hidden on mobile devices. Our previous research found mobile users do not see the value of images on mobile pages.
- The image, optional logo or icon will change for each hub landing page.

{% endmarkdown %}

{% from "wmcads/patterns/hub-page-banner/_hub-page-banner.njk" import wmcadsHubPageBanner %}

{{
  compExample([
    wmcadsHubPageBanner({
      contentHTML: "Example using a short description"
    })
  ], {
    componentPath: "wmcads/patterns/hub-page-banner/",
    njk: true,
    njkProps: wmcadsHubPageBannerProps,
    js: false,
    iframe: true
  })
}}


{{
  compExample([
    wmcadsHubPageBanner({
      contentHTML: "Example using an example brand logo with a longer text description",
      logo: true
    })
  ], {
    componentPath: "wmcads/patterns/hub-page-banner/",
    njk: true,
    njkProps: wmcadsHubPageBannerProps,
    js: false,
    iframe: true
  })
}}

{{
  compExample([
    wmcadsHubPageBanner({
      title: "Hub Header with a longer example title"
    })
  ], {
    componentPath: "wmcads/patterns/hub-page-banner/",
    njk: true,
    njkProps: wmcadsHubPageBannerProps,
    js: false,
    iframe: true
  })
}}

{% markdown %}

{# Homepage banner #}

## Homepage

{# What #}

<h3>What does it do?</h3>

- Provides a complementary image associated with the West Midlands
- Highlights a welcome message for visitors of the West Midlands Combined Authority site

{# When #}

<h3>When to use it?</h3>

- On the homepage

<h3>When not to use it?</h3>

- Regular content pages

{% endmarkdown %}

{% from "wmcads/patterns/banner/homepage-banner/_homepage-banner.njk" import wmcadsHomepageBanner %}

{{
  compExample([
    wmcadsHomepageBanner()
  ], {
    componentPath: "wmcads/patterns/banner/homepage-banner/",
    njk: true,
    njkProps: wmcadsHomepageBannerProps
  })
}}

{% endblock %}
