{% extends "www/_layouts/layout-left-pane.njk" %}
{% set pageTitle="Page header" %}
{% from "wmcads/components/page-header/_page-header.njk" import wmcadsPageHeader %}
{% from "www/_partials/component-example/component-example.njk" import compExample %}

{% block content %}
{{
  compExample([
    wmcadsPageHeader(),
    wmcadsPageHeader({icon:'general-info'})
  ])  
}}
{% endblock %}