{% macro wmcadsTag(params) %} 
{% set text = " " + params.text if params.text else "Enter text" %}

<a class="ds-tag">
  <div class="ds-tag-text">{{text}}</div>
  <div class="ds-tag-triangle"></div>
  <div class="ds-tag-dot"></div>
</a>
{% endmacro %}