{% macro wmcadsInput(params) %}

{# Imports #}
{% from "wmcads/components/form-elements/label/_label.njk" import wmcadsLabel %}
{% from "wmcads/components/form-elements/error-message/_error-message.njk" import wmcadsFeErrorMessage %}

{# Params #}
{% set id = params.id if params.id else "input" %}
{% set label = params.label if params.label else "Input Label" %}
{% set paramClass = " " + params.classNames if params.classNames %} {# set paramClass to params.classNames if any #}
{% set groupErrorClass = " wmcads-fe-group--error" if params.error %}
{% set errorClass = " wmcads-fe-input--error" if params.error %}
{% set type = params.type if params.type else "text" %}

<div class="wmcads-fe-group{{groupErrorClass}}">
  {{
    wmcadsLabel({
      label: label,
      for: id
    }) | trim | indent
  }}
  {% if params.error -%}
    {{
      wmcadsFeErrorMessage() | trim | indent
    }}
  {% endif -%}
  <input class="wmcads-fe-input{{errorClass}}{{paramClass}}" id="{{id}}" name="{{id}}" type="{{type}}"/>
</div>

{% endmacro %}
