{% macro wmcadsButton(params) %}
{# Imports #}
{% from "wmcads/components/icon/_icon.njk" import wmcadsIcon %}
{% from "wmcads/components/loader/_loader.njk" import wmcadsLoader %}
{# Set #}
{% set text = params.text if params.text else "Button text" %} {# set button text #}
{% set iconRight = params.iconRight if params.iconRight %} {# set icon right classes #}
{% set iconLeft = params.iconLeft if params.iconLeft %} {# set svg left reference #}
{% set paramClass = " " + params.classNames if params.classNames %} {# set paramClass to params.classNames if any #}
{# if button disabled is true #}
{% if params.disabled %}
  {% set classNames = paramClass + " ds-btn--disabled" %}
{% else %}
  {% set classNames = paramClass if paramClass %}
{% endif %}

<button class="ds-btn{{ classNames }}" {% if params.disabled %}disabled="disabled"{% endif %} {% if params.type %}type="{{params.type}}"{% endif %}>
    {#- iconLeft -#}
    {%- if iconLeft %}
    {{
      wmcadsIcon({
        icon: iconLeft,
        class: 'ds-btn__icon'
      }) | indent | trim
    }}
    {{text}}

    {#- iconRight -#}
    {%- elseif iconRight %}
    {{ text }}
    {{
      wmcadsIcon({
        icon: iconRight,
        class: 'ds-btn__icon ds-btn__icon--right'
      }) | indent | trim
    }}

    {#- Loading spinner -#}
    {%- elseif params.loading %}
    {{ text -}}
    {{
      wmcadsLoader({
        customClass: 'ds-btn__icon ds-btn__icon--right',
        size: 'btn'
      }) | indent | trim
    }}

    {#- noIcon -#}
    {%- else %}
    {{ text -}}
    {% endif %}
</button>
{% endmacro %}