{% extends "www/_layouts/layout-left-pane.njk" %}
{% set pageTitle="Page contents" %}
{% from "wmcads/components/page-contents/_page-contents.njk" import wmcadsPageContents %}
{% from "www/_partials/component-example/component-example.njk" import compExample %}

{% block content %}
{{
  compExample([
    wmcadsPageContents()
  ])  
}}
{% endblock %} 