  <!-- Website Scripts -->
  {% if ds == "wmca" %}
    <script src="https://wmca-ep-cdn-akf3gsawasaqesez.a02.azurefd.net/cdn/staging/wmcaassets/ds/2.0.0/js/DS-website.min.js"></script>
    <script src="https://wmca-ep-cdn-akf3gsawasaqesez.a02.azurefd.net/cdn/STAGing/wmcaassets/ds/2.0.0/js/ds-templates.min.js"></script>
  {% endif %}
  {% if ds == "tfwm" %}
    <script src="https://wmca-ep-cdn-akf3gsawasaqesez.a02.azurefd.net/cdn/staging/wmcaassets/ds/2.0.0/js/ds-website.min.js"></script>
    <script src="https://wmca-ep-cdn-akf3gsawasaqesez.a02.azurefd.net/cdn/staging/wmcaassets/ds/2.0.0/js/ds-templates.min.js"></script>
  {% endif %}
  {% if ds == "st" %}
    <script src="https://wmca-ep-cdn-akf3gsawasaqesez.a02.azurefd.net/cdn/staging/wmcaassets/ds/2.0.0/js/ds-website.min.js"></script>
    <script src="https://wmca-ep-cdn-akf3gsawasaqesez.a02.azurefd.net/cdn/staging/wmcaassets/ds/2.0.0/js/ds-templates.min.js"></script>
  {% endif %}
  {% if ds == "mc" %}
    <script src="https://wmca-ep-cdn-akf3gsawasaqesez.a02.azurefd.net/cdn/staging/wmcaassets/ds/2.0.0/js/ds-website.min.js"></script>
    <script src="https://wmca-ep-cdn-akf3gsawasaqesez.a02.azurefd.net/cdn/staging/wmcaassets/ds/2.0.0/js/ds-templates.min.js"></script>
  {% endif %}
  {% if ds == "cia" %}
    <script src="https://wmca-ep-cdn-akf3gsawasaqesez.a02.azurefd.net/cdn/staging/wmcaassets/ds/2.0.0/js/ds-website.min.js"></script>
    <script src="https://wmca-ep-cdn-akf3gsawasaqesez.a02.azurefd.net/cdn/staging/wmcaassets/ds/2.0.0/js/cia-templates.min.js"></script>
  {% endif %}
  {% if ds == "wmre" %}
    <script src="https://wmca-ep-cdn-akf3gsawasaqesez.a02.azurefd.net/cdn/staging/wmcaassets/ds/2.0.0/js/ds-website.min.js"></script>
    <script src="https://wmca-ep-cdn-akf3gsawasaqesez.a02.azurefd.net/cdn/staging/wmcaassets/ds/2.0.0/js/ds-templates.min.js"></script>
  {% endif %}
  {% if ds == "rar" %}
    <script src="https://wmca-ep-cdn-akf3gsawasaqesez.a02.azurefd.net/cdn/staging/wmcaassets/ds/2.0.0/js/ds-website.min.js"></script>
    <script src="https://wmca-ep-cdn-akf3gsawasaqesez.a02.azurefd.net/cdn/staging/wmcaassets/ds/2.0.0/js/ds-templates.min.js"></script>
  {% endif %}

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async="async" src="https://www.googletagmanager.com/gtag/js?id=UA-151672610-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-151672610-1');
</script>

<!-- Highlight JS - display HTML blocks as coloured text -->
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.10/highlight.min.js"></script>
