  <!-- Website Scripts -->
  {% if ds == "wmca" %}
    <script src="$*cdn/js/ds-website.min.js" defer></script>
    <script src="$*cdn/js/ds-templates.min.js" defer></script>
  {% endif %}
  {% if ds == "tfwm" %}
    <script src="$*cdn/js/ds-website.min.js" defer></script>
    <script src="$*cdn/js/ds-templates.min.js" defer></script>
  {% endif %}
  {% if ds == "st" %}
    <script src="$*cdn/js/ds-website.min.js" defer></script>
    <script src="$*cdn/js/ds-templates.min.js" defer></script>
  {% endif %}
  {% if ds == "mc" %}
    <script src="$*cdn/js/ds-website.min.js" defer></script>
    <script src="$*cdn/js/ds-templates.min.js" defer></script>
  {% endif %}
  {% if ds == "cia" %}
    <script src="$*cdn/js/ds-website.min.js" defer></script>
    <script src="$*cdn/js/cia-templates.min.js" defer></script>
  {% endif %}
  {% if ds == "wmre" %}
    <script src="$*cdn/js/ds-website.min.js" defer></script>
    <script src="$*cdn/js/ds-templates.min.js" defer></script>
  {% endif %}
  {% if ds == "rar" %}
    <script src="$*cdn/js/ds-website.min.js" defer></script>
    <script src="$*cdn/js/ds-templates.min.js" defer></script>
  {% endif %}
