{% macro wmcadsWarningText(params) %}

{# Imports #}
{% from "wmcads/components/icon/_icon.njk" import wmcadsIcon %}

{# Set #}
{% set text = params.text if params.text else "Type something." %} {# set warning text #}
{% set icon = params.icon if params.icon %} {# set svg icon #}
{% set class = params.class if params.class %} {# set svg icon #}

<div class="ds-warning-text {{class}}">
    {{
      wmcadsIcon({
        icon: icon,
        class: 'ds-warning-text__icon'
      }) | indent | trim
    }}
    {{ text | safe }}
</div>

{% endmacro %}