{% extends "www/_layouts/layout-left-pane.njk" %}
{% set pageTitle="Document" %}
{% set ds = 'cia' %}
{% from "wmcads/components/document/_document.njk" import wmcadsDocument %}
{% from "www/_partials/component-example/component-example.njk" import compExample %}

{% block content %}
{{
  compExample([
    wmcadsDocument()
  ])  
}}
{% endblock %}