{% macro wmcadsHeader(params) %}
{# Set navItems #}
{% set navItems = params.navItems %}
{% set appClass = " wmcads-header--mobile-app" if params.app else "" %}
{% set menuClass = "" if params.legacyMenu else " wmcads-header--mega-menu" %}

{% set navigationAriaLabel = params.exampleAria + " example navigation" if params.exampleAria else "Navigation" %}
{# Imports #}
{% from "wmcads/components/icon/_icon.njk" import wmcadsIcon %}
{% from "wmcads/components/link/link/_link.njk" import wmcadsLink %}
{% from "wmcads/patterns/banner/_banner.njk" import wmcadsBanner %}
{% from "wmcads/components/breadcrumb/_breadcrumb.njk" import wmcadsBreadcrumb %}

<!-- Skip to content link -->
{{
  wmcadsLink({
    link: '#wmcads-main-content',
    linkTitle: 'Skip to main content',
    text: 'Skip to main content',
    classModifiers: 'wmcads-header__skip-link'
  }) | trim
}}
<!-- Main header section -->
<header>
  <div class="wmcads-header{{appClass}}{{menuClass}}">
    <div class="wmcads-container wmcads-grid wmcads-grid--align-center wmcads-grid--justify-between">
      <div class="wmcads-header__vertical-align wmcads-col-auto">
        <!-- Logo -->
        <a class="wmcads-header__logo-link" href="/" title="West Midlands Network Design System">
          <img class="wmcads-header__logo" alt="West Midlands Network logo" src="/img/logo.svg" />
        </a>
      </div>
      <!-- Mega menu nav items-->
      <nav id="{{params.id}}" class="wmcads-mega-menu">
        <!-- Mobile toggle button -->
        <button class="wmcads-mega-menu__primary-menu-link wmcads-mega-menu__search wmcads-hide-desktop">
          <svg class="wmcads-mega-menu__search-icon" aria-hidden="true"><use xlink:href="#wmcads-general-icon-action-search" href="#wmcads-general-icon-action-search"></use></svg>
          <span class="sr-only">Open Search</span>
        </button>
        <button class="wmcads-mega-menu__mobile-toggle wmcads-hide-desktop" aria-expanded="false" aria-controls="{{params.id}}-primary-menu">
          <svg class="wmcads-mega-menu__hamburger-icon" aria-hidden="true"><use xlink:href="#wmcads-general-icon-hamburger" href="#wmcads-general-icon-hamburger"></use></svg>
          <svg class="wmcads-mega-menu__close-icon" aria-hidden="true"><use xlink:href="#wmcads-general-icon-cancel" href="#wmcads-general-icon-cancel"></use></svg>
          <span class="sr-only">Open/Close Navigation</span>
        </button>
        <!-- Container for mega menu - allows scrolling on mobile nav -->
        <div id="{{params.id}}-primary-menu" class="wmcads-mega-menu__scroll-controller">
          <!-- Start primary (level 1) navigation -->
          <ul class="wmcads-mega-menu__primary-menu">
            <li class="wmcads-mega-menu__primary-menu-item wmcads-mega-menu__primary-menu-item-search wmcads-hide-desktop">
              <form role="search" action="#" novalidate="novalidate">
              <label for="search" class="sr-only">Search: </label>
              <input class="wmcads-fe-input wmcads-m-xs" id="search" name="q" type="text" placeholder="Search WMCA" aria-label="Search" /> 
              <button class="wmcads-btn" aria-label="Right Align">
                <svg class="wmcads-mega-menu__link-search-icon" aria-hidden="true"><use href="#wmcads-general-icon-action-search"></use></svg>
                <span class="sr-only">Search</span>
              </button>
              </form>
            </li>
          {% for navItem in navItems -%}
            <li class="wmcads-mega-menu__primary-menu-item">
            <!-- Show swift logo in nav if is swift & tickets link -->
            {% set navItemIcon = wmcadsIcon({icon: 'swift-full-logo', class: 'wmcads-swift-icon'}) | indent(4) | trim if navItem.name === "Swift and tickets" else "" %}
            {% set navItemContent = " and tickets" if navItem.name === "Swift and tickets" else navItem.name -%}
              <!-- allow primary (level 1) item to link if specified -->
              {% if params.linkTopLevel -%}{{navItemIcon}}
              <a href="/{{ navItem.name | lower | replace(" ", "-") }}/" title="{{ navItem.name }} page" target="_self" class="wmcads-mega-menu__primary-menu-link" >
                {{navItemIcon}}{{ navItemContent }}
              </a>
              <!-- if not linked use a button -->
              {% else -%}
              <button target="_self" class="wmcads-mega-menu__primary-menu-link" >
                {{navItemIcon}}{{ navItemContent }}
              </button>
              {% endif -%}
              {% if navItem.subnavItems -%}
              <!-- arrow icon for mobile nav -->
              <button class="wmcads-mega-menu__link-arrow-icon-btn" data-label="{{ navItem.name }}" aria-label="toggle {{ navItem.name }}" aria-controls="{{params.id}}-container">
                <svg class="wmcads-mega-menu__link-arrow-icon" aria-hidden="true"><use href="#wmcads-general-icon-chevron-right"></use></svg>
                <span class="sr-only">Previous</span>
              </button>
              <!-- Start mega menu container -->
              <div id="{{params.id}}-container-{{ loop.index }}" class="wmcads-mega-menu__container">
                <div class="wmcads-container">
                  <!-- Start submenu (level 2) -->
                  <ul class="wmcads-mega-menu__sub-menu">
                    {% for subnavItem in navItem.subnavItems -%}
                    <li class="wmcads-mega-menu__sub-menu-item">
                      <a href="/{{ navItem.name | lower | replace(" ", "-") }}/{{ subnavItem.name | lower | replace(" ", "-") }}/" class="wmcads-mega-menu__sub-menu-link">
                        {% if subnavItem.icon -%}
                        <!-- Show submenu (level 2) item icon if specified -->
                        <svg class="wmcads-mega-menu__sub-menu-link-icon">
                          <use xlink:href="#wmcads-{{subnavItem.icon}}" href="#wmcads-{{subnavItem.icon}}"></use>
                        </svg> 
                        {% endif -%}
                        {{subnavItem.name | replace("Swift", wmcadsIcon({icon: 'swift-full-logo', class: 'wmcads-swift-icon'}) | indent(6) | trim) | safe}}</a>
                        {%- if subnavItem.subnavItems %}
                        <!-- collapse button for mobile nav level 3 menu items -->
                      <button class="wmcads-mega-menu__collapse-toggle" aria-expanded="false" aria-label="Toggle {{subnavItem.name}} menu" aria-controls="{{params.id}}-submenu-child-menu">
                        <svg class="wmcads-mega-menu__link-arrow-icon" aria-hidden="true"><use href="#wmcads-general-chevron-right"></use></svg>
                        <span class="sr-only">Previous</span>
                      </button>
                      <!-- Start submenu child (level 3) list -->
                      <ul id="{{params.id}}-submenu-child-menu-{{ subnavItem.name | lower | replace(" ", "-") }}-{{ loop.index }}" class="wmcads-mega-menu__sub-menu-child-menu">
                        {% for subnavchildItem in subnavItem.subnavItems -%}
                        <li class="wmcads-mega-menu__sub-menu-child-item">
                          <a href="#" class="wmcads-mega-menu__sub-menu-child-link">{{subnavchildItem.name}}</a>
                        </li>
                        {%- endfor %}
                      </ul>
                      <!-- End submenu child (level 3) list -->
                      {%- endif %}
                    </li>
                    {%- endfor %}
                  </ul>
                  <!-- End submenu (level 2) -->
                </div>
              </div>
              <!-- End mega menu container -->
              {%- endif %}
            </li>
          {%- endfor %}
          </ul>
          <!-- End primary (level 1) navigation -->
        </div>
        <!-- End scrollable container -->
        <button class="wmcads-mega-menu__primary-menu-link wmcads-mega-menu__search wmcads-hide-mobile">
          <svg class="wmcads-mega-menu__search-icon" aria-hidden="true"><use href="#wmcads-general-icon-action-search"></use></svg>
          <span class="sr-only">Previous</span>
        </button>
      </nav>
    </div>
  </div>


  {%- if params.banner or params.breadcrumbs %}
  <div class="wmcads-container">
    {% if params.banner -%}
    <!-- Phase banner -->
    {{
      wmcadsBanner ({
        link: 'https://github.com/wmcadigital/wmca-design-system/issues',
        linkTitle: 'WMCA Design System Github',
        phase: true
      }) | trim | indent(4)
    -}}
    {%- endif -%}

    {%- if params.breadcrumbs and params.breadcrumbs.section != 'Home' %}
    <!-- Breadcrumbs -->
    {{
      wmcadsBreadcrumb({
        section: params.breadcrumbs.section,
        pageTitle: params.breadcrumbs.pageTitle,
        exampleAria: params.exampleAria
      }) | trim | indent(4)
    -}}
    {% endif %}
  </div>
  {%- endif %}
</header>

{% if params.megaMenuDemo %}
<!-- Content space for example purposes only. DO NOT INCLUDE -->
<div class="demo-content">
  Example content
</div>
<!-- END DO NOT INCLUDE -->
{% endif %}
{% endmacro %}