{% extends "www/_layouts/layout-left-pane.njk" %}
{% set pageTitle="Portfolio leads" %}
{% from "wmcads/components/portfolio-leads/_portfolio-leads.njk" import wmcadsPortfolioLeads %}
{% from "www/_partials/component-example/component-example.njk" import compExample %}
{% set ds = 'st' %}

{% block content %}
{{
  compExample([
    wmcadsPortfolioLeads()
  ])  
}}
{% endblock %}