{% macro wmcadsInTextStep(params) %}

<ol class="wmcads-in-text-step">
    {%- for step in params.steps %}
    <li class="wmcads-in-text-step__item">{{step}}</li>
    {%- endfor %}
</ol>

{% endmacro %}