.template-search {
  .wmcads-p-r-xl {
    @media screen and (max-width: $breakpoint-md) {
      padding: 0;
    }
  }

  .wmcads-hide-mobile {
    @media screen and (max-width: $breakpoint-sm) {
        display: none;
    }
  }

  .wmcads-search-sort {
    @media screen and (max-width: $breakpoint-sm) {
        margin-top: $size-md;
    }
  }
}
