{% macro wmcadsFeedbackLoop(params) %}

{# Imports of components #}
{% from "wmcads/components/form-elements/checkboxes/_checkboxes.njk" import wmcadsCheckboxes %}
{% from "wmcads/components/form-elements/input/_input.njk" import wmcadsInput %}
{% from "wmcads/components/form-elements/textarea/_textarea.njk" import wmcadsTextarea %}
{% from "wmcads/components/button/_button.njk" import wmcadsButton as primary %}

{# Set params #}
{% set isOpen = " ds-is-open" if params.isOpen %}
{% set id = params.id if params.id else "feedback-loop" %} {# this is to pass unique id to this macro, to stop clashing of duplicate IDs with the preview page and the ACTUAL feedback loop in the footer #}



<div class="ds-feedback-loop{{isOpen}}">
  <div class="ds-container ds-feedback-loop__questions">
    <div class="ds-feedback-loop__useful">
      Is this page useful?

      <a href="#" title="link title" target="_self" class="ds-link ds-m-l-sm">Yes</a>
      <a href="#" title="link title" target="_self" class="ds-link ds-m-l-sm">No</a>
    </div>
    <div class="ds-feedback-loop__wrong">
      <a href="#" title="link title" target="_self" class="ds-link">Is there anything wrong with this page?</a>
    </div>
  </div>

  <form class="ds-container ds-feedback-loop__form ds-grid">
    <div class="ds-grid ds-grid--align-center ds-grid--justify-between">
      <legend class="ds-col-auto ds-m-none">Help us improve West Midlands Combined Authority</legend>
      <a  href="#" class="ds-link ds-col-auto ds-m-l-md">Close</a>
    </div>
    <br>
    <div class="ds-col-1 ds-col-md-1-2">
      {{
        wmcadsTextarea({
          id: (id + '-textarea')
        }) | trim | indent(4)
      }}
    </div>
    <br><br>
    <div class="ds-col-1 ds-col-md-1-3">
      {{
        wmcadsInput({
          id: (id + '-input')
        }) | trim | indent(4)
      }}
    </div>
    <br><br>
    <div class="ds-col-1">
      {{
        wmcadsCheckboxes() | trim | indent(4)
      }}
    </div>
    <br><br>
    {{
      primary({
        classNames: "ds-btn",
        text: "Submit feedback"
      }) | trim | indent(4)
    }}
  </form>
</div>

{% endmacro %}