{% extends "www/_layouts/layout-fullwidth.njk" %}
{% set pageTitle = "Safer Travel Design System" %}
{% set section = 'Safer Travel Design System' %}
{% set ds = 'st' %}
{# Imports #}
{%- from "wmcads/components/content-tiles/normal/_normal.njk" import wmcadsContentTilesNormal -%}
{%- from "wmcads/components/link/link/_link.njk" import wmcadsLink -%}
{% from "wmcads/components/warning-text/_warning-text.njk" import wmcadsWarningText %}


{% block content %}
<div class="ds-grid ds-grid--align-center ds-grid--spacing-lg-2-xl">
  {# Overview #}
  <div class="ds-col-1 ds-col-lg-2-3">
      <h2>Overview</h2>
      <p>
        The Safer Travel  (ST) Design System is a library of typography, visual styles and user interface components which are documented and updated continuously.
      </p>
      <p>
        Use the ST Design System to make your service or application consistent with ST design and styles.
      </p>
      <p>
        Our design system aims to be platform/framework agnostic. This allows designers and developers from all practices to utilise our design system and avoid repeating work that's already been done.
      </p>
  </div>
  {# Design system links #}
  <div class="ds-col-1 ds-col-lg-1-3">

  </div>
</div>
{# Internal navigation #}
<h2>Design System</h2>
<div class="ds-grid ds-grid--align-stretch ds-grid--spacing-sm-2-xsm ds-grid--spacing-lg-4-xsm">
  {# Styles #}
  <div class="ds-col-1 ds-col-sm-1-2 ds-col-lg-1-4 ds-p-b-xsm">
    {{
      wmcadsContentTilesNormal({
        classModifiers: 'ds-content-tile--with-one-link',
        title: "Styles",
        copy: "<p>Make your service look and feel like WMCA: colours, icons, typography and utility classes</p>",
        smallTitle: true,
        readMore: true,
        link: '/st/styles/',
        linkText: 'Read more about styles',
        linkTitle: 'Styles'
      })
    }}
  </div>
  {# Components #}
  <div class="ds-col-1 ds-col-sm-1-2 ds-col-lg-1-4 ds-p-b-xsm">
    {{
      wmcadsContentTilesNormal({
        classModifiers: 'ds-content-tile--with-one-link',
        title: "Components",
        copy: "<p>Reusable parts of the user interface: content, map and form elements; buttons and messages</p>",
        smallTitle: true,
        readMore: true,
        link: '/st/components/',
        linkText: 'Read more about components',
        linkTitle: 'Components'
      })
    }}
  </div>
  {# Patterns #}
  <div class="ds-col-1 ds-col-sm-1-2 ds-col-lg-1-4 ds-p-b-xsm">
    {{
      wmcadsContentTilesNormal({
        classModifiers: 'ds-content-tile--with-one-link',
        title: "Patterns",
        copy: "<p>Commonly used sets of components</p>",
        smallTitle: true,
        readMore: true,
        link: '/st/patterns/',
        linkText: 'Read more about patterns',
        linkTitle: 'Patterns'
      })
    }}
  </div>
  {# Templates #}
  <div class="ds-col-1 ds-col-sm-1-2 ds-col-lg-1-4 ds-p-b-xsm">
    {{
      wmcadsContentTilesNormal({
        classModifiers: 'ds-content-tile--with-one-link',
        title: "Templates",
        copy: "<p>Example template layouts</p>",
        smallTitle: true,
        readMore: true,
        link: '/st/templates/',
        linkText: 'Read more about templates',
        linkTitle: 'Templates'
      })
    }}
  </div>
</div>

<br>
{# Quick start #}
<h2>Quick start</h2>
<div class="ds-col-auto">

{{
  wmcadsWarningText({
    text: 'Sign up to <a href="https://confirmsubscription.com/h/d/2C0102CD1FBC0C5F" class="ds-link" target="_blank" rel="noopener noreferrer">updates about changes to the Design System</a> so you can maintain your services.',
    icon: "general-warning-circle"
  })
}}
</div>


<h3>Web projects</h3>
<p class="ds-col-md-3-4">
  Getting started is as simple as including West Midlands Combined Authority Design System's minified CSS file and adding <code class="ds-website-inline-code">.ds-html</code> to the html element in your service/application.
</p>
<pre>
  <code class="html ds-show-more-ignore" tabindex="0">
  {%- filter forceescape %}
  <!DOCTYPE html>
  <html lang="en-gb" class="ds-html">
    <head>
      <!-- CSS for WMCA Design System -->
      <link rel="stylesheet" href="https://cloudcdn.wmca.org.uk/wmcaassets/ds/$*version/css/wmcads.min.css" />
    </head>
    <body>
      <!-- site content... -->
    </body>
  </html>
  {%- endfilter %}
  </code>
</pre>

<h3>Want to use our icons, or using a component that references an icon?</h3>
<p>Please see the
  {{
    wmcadsLink({
      link: "/styles/icons/",
      linkTitle: "Using WMCA Design System icons",
      contentText: "icons page"
    })
  }}.
</p>

<h3>Mobile app projects (React Native)</h3>
<p>If you are using React Native, you can import our styles like below.</p>
<pre>
  <code class="javascript" tabindex="0">
    {% filter forceescape %}// Import react native styles for WMCA Design System
    import wmcadsStyles from "https://cloudcdn.wmca.org.uk/wmcaassets/ds/$*version/css/react-native/wmnds.min.js"
    {%- endfilter %}
  </code>
</pre>
{% endblock %}