{% macro wmcadsBoardMembers(params) %}
{% from "wmcads/components/link/link/_link.njk" import wmcadsLink %}

<h2>Meet the board members</h2>
<div class="ds-board-members ds-grid">
<div class="ds-col-1 ds-col-md-1-4 ds-board-members-contents">
  <div class="ds-board-members-toggle-links wdgt">
  <ul class="ds-board-members-tab-labels ds-bare-list">
      <li>
        <a href="#profile1">
          Una Plumb
        </a>
      </li>
      <li>
        <a href="#profile2">
          Molly Meadows 
        </a>
      </li>
      <li>
        <a href="#profile3">
          Casper Rabbit
        </a>
      </li>
    </ul>
    {{
    wmcadsLink({
      text: "View more",
      withReadMore: true,
      btnSeeMoreRevealClass: "example",
      copyName: "navigation",
      copy: '<ul class="pure-menu-list ds-board-members-tab-labels ds-bare-list">
        <li>
          <a href="#profile4">
            Sonya Khan
          </a>
        </li>
      </ul>'
      })
    }}
  </div>
</div>

<div class="ds-col-1 ds-col-md-3-4 ds-p-l-lg">
  <div class="ds-board-members-mentor-profile ds-board-members-single-panel active" id="profile1">
    <div class="ds-grid">
      <div class="ds-col-1 ds-col-md-2-3 ds-board-members-mentor-profile-content">
        
        <h3>Una Plumb</h3>
        
        <p>
          Powder ice cream jujubes jelly beans. Cotton candy chocolate cake dragée ice cream jelly
          beans lemon drops sweet. Jujubes candy canes jujubes liquorice croissant pie liquorice
          liquorice. Cookie marzipan lollipop tiramisu cake cake. Wafer cupcake jelly muffin cupcake
          tart sweet.
        </p>
        <p>
          Donut candy canes carrot cake. Jelly-o wafer lemon drops cookie icing cheesecake. Tiramisu
          chocolate donut chocolate cake liquorice. Liquorice pudding gingerbread halvah topping
          chocolate bar topping pastry sweet.
        </p>
        
        {{
    wmcadsLink({
      text: "View more",
      withReadMore: true,
      btnSeeMoreRevealClass: "example",
      copyName: "exampleone",
      copy: ' <p>
            Cupcake halvah wafer chocolate bar jujubes chocolate bar muffin. Gummi bears soufflé
            bear claw. Chocolate cake muffin toffee toffee. Croissant dragée pastry. Caramels cookie
            jelly beans danish.
          </p>
          <p>
            Croissant danish gingerbread sugar plum icing biscuit tiramisu icing chocolate bar.
            Gummies candy candy canes powder gummies. Jelly carrot cake chocolate carrot cake
            liquorice sugar plum oat cake. Ice cream ice cream jelly.
          </p>
          <p>
            Candy halvah gummi bears cheesecake jelly pudding bear claw. Jelly cookie jelly icing
            jelly-o. Cake ice cream caramels wafer fruitcake oat cake.
          </p>'
      })
    }}

      </div>
      <div class="ds-col-1 ds-col-md-1-3">
        <img src="http://placeimg.com/200/300/people" alt="" class="pure-img">
      </div>
    </div>
  </div>
  <div class="ds-board-members-mentor-profile ds-board-members-single-panel" id="profile2">
    <div class="ds-grid">
    
      <div class="ds-col-1 ds-col-md-2-3 ds-board-members-mentor-profile-content">
        
        <h3>Molly Meadows</h3>
        
        <p>
          Powder ice cream jujubes jelly beans. Cotton candy chocolate cake dragée ice cream jelly
          beans lemon drops sweet. Jujubes candy canes jujubes liquorice croissant pie liquorice
          liquorice. Cookie marzipan lollipop tiramisu cake cake. Wafer cupcake jelly muffin cupcake
          tart sweet.
        </p>
        <p>
          Donut candy canes carrot cake. Jelly-o wafer lemon drops cookie icing cheesecake. Tiramisu
          chocolate donut chocolate cake liquorice. Liquorice pudding gingerbread halvah topping
          chocolate bar topping pastry sweet.
        </p>
        <div class="collapse continue-reading-1">
          <p>
            Cupcake halvah wafer chocolate bar jujubes chocolate bar muffin. Gummi bears soufflé
            bear claw. Chocolate cake muffin toffee toffee. Croissant dragée pastry. Caramels cookie
            jelly beans danish.
          </p>
          <p>
            Croissant danish gingerbread sugar plum icing biscuit tiramisu icing chocolate bar.
            Gummies candy candy canes powder gummies. Jelly carrot cake chocolate carrot cake
            liquorice sugar plum oat cake. Ice cream ice cream jelly.
          </p>
          <p>
            Candy halvah gummi bears cheesecake jelly pudding bear claw. Jelly cookie jelly icing
            jelly-o. Cake ice cream caramels wafer fruitcake oat cake.
          </p>
        </div>
        
        
        



<button class="hvr-icon-hang ds-board-members-button-see-more" 3 data-target=".collapse.continue-reading-1" data-text="collapse" aria-expanded="false" data-html-text="Contine reading">
  <i class="fal fa-chevron-down hvr-icon" aria-hidden="true"></i>
</button>

      </div>
        <div class="ds-col-1 ds-col-md-1-3">
        <img src="http://placeimg.com/200/300/people" alt="" class="pure-img">
      </div>
    </div>
  </div>
  <div class="ds-board-members-mentor-profile ds-board-members-single-panel" id="profile3">
    <div class="ds-grid">
      
      <div class="ds-col-1 ds-col-md-2-3 ds-board-members-mentor-profile-content">
        
        <h3>Casper Rabbit</h3>
        
        <p>
          Powder ice cream jujubes jelly beans. Cotton candy chocolate cake dragée ice cream jelly
          beans lemon drops sweet. Jujubes candy canes jujubes liquorice croissant pie liquorice
          liquorice. Cookie marzipan lollipop tiramisu cake cake. Wafer cupcake jelly muffin cupcake
          tart sweet.
        </p>
        <p>
          Donut candy canes carrot cake. Jelly-o wafer lemon drops cookie icing cheesecake. Tiramisu
          chocolate donut chocolate cake liquorice. Liquorice pudding gingerbread halvah topping
          chocolate bar topping pastry sweet.
        </p>
      </div>
      <div class="ds-col-1 ds-col-md-1-3">
        <img src="http://placeimg.com/200/300/people" alt="" class="pure-img">
      </div>
    </div>
  </div>
  <div class="ds-board-members-mentor-profile ds-board-members-single-panel" id="profile4">
    <div class="ds-grid">
      
      <div class="ds-col-1 ds-col-md-2-3 ds-board-members-mentor-profile-content">
        
        <h3>Sonya Khan</h3>
        
        <p>
          Powder ice cream jujubes jelly beans. Cotton candy chocolate cake dragée ice cream jelly
          beans lemon drops sweet. Jujubes candy canes jujubes liquorice croissant pie liquorice
          liquorice. Cookie marzipan lollipop tiramisu cake cake. Wafer cupcake jelly muffin cupcake
          tart sweet.
        </p>
        <p>
          Donut candy canes carrot cake. Jelly-o wafer lemon drops cookie icing cheesecake. Tiramisu
          chocolate donut chocolate cake liquorice. Liquorice pudding gingerbread halvah topping
          chocolate bar topping pastry sweet.
        </p>
      </div>
      <div class="ds-col-1 ds-col-md-1-3">
        <img src="http://placeimg.com/200/300/people" alt="" class="pure-img">
      </div>
    </div>
  </div>
</div>


</div>

{% endmacro %}
