{% macro wmcadsContentCardEmailSignUp(params) %}
{# imports #}
{% from "wmcads/components/content-card/_content-card.njk" import wmcadsContentCard %}
{% from "wmcads/components/form-elements/input/_input.njk" import wmcadsInput %}
{% from "wmcads/components/button/_button.njk" import wmcadsButton %}
{% from "wmcads/components/icon/_icon.njk" import wmcadsIcon %}
{# Set #}
{% set formClass = " wmcads-is--open" if params.expanded else "" %}
{# Button variables #}
{% set btnText = "Sign up for updates" if params.expanded or params.externalLink else "Continue" %}
{% set btnClass = " wmcads-btn--primary" if not params.externalLink else ""  %}
{% set btnSpacingClass = " wmcads-m-t-xsm" if not params.expanded else ""  %}
{% set btnType = "type=\"submit\"" if params.expanded or params.externalLink else "" %}
{# Create a string where we can use the nunjucks '| replace' #}
{% set exampleSuffix = "--" + params.exampleSuffix if params.exampleSuffix else "" %}

{% call wmcadsContentCard() %}
    <div class="wmcads-p-sm wmcads-col-1">
        <h2 class="wmcads-content-card__title">Stay up to date</h2>
        <p class="wmcads-m-b-md">Receive an email notification when this information changes.</p>
        {#- External link -#}
        {% if params.externalLink %}
        <a href="#" target="_blank" class="wmcads-btn {{btnClass}} wmcads-col-1">{{btnText}}</a>
        {%- else %}
        <form class="js-cm-form wmcads-content-card__form{{formClass}}" id="subForm-{{params.exampleSuffix}}" action="https://www.createsend.com/t/subscribeerror?description=" method="post" data-id="92D4C54F0FEC16E5ADC2B1904DE9ED1A99364085B43530088A4D2FC306FC12C93064C1C79B7ABC5EE4710A358CB5FBFB9279A45ECC576F3F096FDC1EFB755F64">
            <div class="wmcads-m-b-sm">
                <label class="wmcads-fe-label" for="fieldEmail{{exampleSuffix}}">Email address</label>
                <input autocomplete="Email" aria-label="Email" class="js-cm-email-input qa-input-email wmcads-fe-input" id="fieldEmail{{exampleSuffix}}" maxlength="200" name="cm-nllddr-nllddr" required="" type="email"/>
            </div>
            <!-- Expanding content -->
            <div class="wmcads-content-card__form-collapse">
                <div class="wmcads-m-b-sm">
                    <label class="wmcads-fe-label" for="fieldName{{exampleSuffix}}">Name</label>
                    <input class="wmcads-fe-input" aria-label="Name" id="fieldName{{exampleSuffix}}" maxlength="200" name="cm-name"/>
                </div>
                <div class="wmcads-m-b-sm">
                    <label class="wmcads-fe-label" for="fieldkdyhlr{{exampleSuffix}}">Postcode</label>
                    <p class="wmcads-m-b-sm">We'll use this to send relevant emails to your location</p>
                    <input class="wmcads-fe-input" aria-label="Home Postcode" id="fieldkdyhlr{{exampleSuffix}}" maxlength="200" name="cm-f-kdyhlr" required=""/>
                </div>
                <label class="wmcads-fe-checkboxes__container wmcads-m-t-md">
                    I agree to WMCA's Privacy Policy
                    <input class="wmcads-fe-checkboxes__input" aria-required="" id="cm-privacy-consent{{exampleSuffix}}" name="cm-privacy-consent" required="" type="checkbox"/>
                    <span class="wmcads-fe-checkboxes__checkmark">
                    {# Get SVG icon and pass class #}
                    {{-
                        wmcadsIcon({
                        icon: 'general-checkmark',
                        class: 'wmcads-fe-checkboxes__icon'
                        }) | indent(20) | trim
                    }}
                    </span>
                </label>
                <input id="cm-privacy-consent-hidden{{exampleSuffix}}" name="cm-privacy-consent-hidden" type="hidden" value="true">
            </div>
            <button class="wmcads-btn{{btnClass + btnSpacingClass}} wmcads-col-1" {{ btnType | safe -}}>{{btnText}}</button>
        </form>

        <script type="text/javascript" src="https://js.createsend1.com/javascript/copypastesubscribeformlogic.js"></script>
        {%- endif %}
    </div>
{% endcall %}

{% endmacro %}
