{% macro wmcadsPortfolioDashboard() %}


<div class="wmcads-portfolio-dashboard">
  <svg>
    <use xlink:href="#wmcads-general-paperclip" href="#wmcads-general-paperclip"></use>
  </svg>
  <div class="wmcads-portfolio-dashboard-details">
    <h4>Portfolio Holder</h4>
    <div>With an economy worth £28.1bn, Birmingham has a growth rate of 27.7% in the last five years and has the largest economy of any city outside London.</div>
  </div>
  <br>
</div>
{% endmacro %}