$token-body-fontfamily: Noto Sans Display;
$token-body-fontsize: 16;
$token-body-fontweight: Regular;
$token-body-letterspacing: 0;
$token-body-lineheight: 24;
$token-body-paragraphspacing: 15;
$token-body-textcase: none;
$token-body-textdecoration: none;
$token-button-fontfamily: Noto Sans Display;
$token-button-fontsize: 16;
$token-button-fontweight: Bold;
$token-button-letterspacing: 0;
$token-button-lineheight: 23;
$token-button-paragraphspacing: 15;
$token-button-textcase: none;
$token-button-textdecoration: none;
$token-color-global-alert-green: #00703c;
$token-color-global-alert-grey: #676869;
$token-color-global-alert-orange: #b75e00;
$token-color-global-alert-purple: #84329b;
$token-color-global-alert-red: #d4351c;
$token-color-global-black: #000000;
$token-color-global-blue: #2C498A;
$token-color-global-dark-grey: #54565B;
$token-color-global-light-grey: #87898c;
$token-color-global-mid-grey: #6E7172;
$token-color-global-off-white: #F5F5F5;
$token-color-global-tints-dark-green: #00381E;
$token-color-global-tints-dark-red: #6A1B0E;
$token-color-global-tints-green: #004E2A;
$token-color-global-tints-red: #942514;
$token-color-global-white: #ffffff;
$token-color-tfwm-black: #080607;
$token-color-tfwm-blue: #1D7BBF;
$token-color-tfwm-lilac: #9D5BAF;
$token-color-tfwm-mode-blue: #0075c9;
$token-color-tfwm-mode-green: #658d1b;
$token-color-tfwm-mode-orange: #e07709;
$token-color-tfwm-mode-pink: #df1683;
$token-color-tfwm-mode-red: #ea0029;
$token-color-tfwm-mode-ultramarine: #0072ff;
$token-color-tfwm-network-dark-purple: #1e082a;
$token-color-tfwm-network-yellow: #ffdd00;
$token-color-tfwm-off-white: #F3F2F1;
$token-color-tfwm-purple: #3C1053;
$token-color-tfwm-tints-dark-purple: #42194F;
$token-color-tfwm-tints-dark-teal: #0F3F62;
$token-color-tfwm-tints-purple: #5C236E;
$token-color-tfwm-tints-purple-30: #e2cee7;
$token-color-tfwm-tints-purple-50: #CEADD8;
$token-color-tfwm-tints-teal: #145889;
$token-color-wmca-black: #080607;
$token-color-wmca-blue: #007Da8;
$token-color-wmca-brand-blue: #008FBF;
$token-color-wmca-brand-green: #00a19c;
$token-color-wmca-brand-grey: #54565B;
$token-color-wmca-brand-orange: #f58025;
$token-color-wmca-brand-purple: #94368D;
$token-color-wmca-brand-red: #D60037;
$token-color-wmca-grey: #231F20;
$token-color-wmca-off-white: #f3f2f1;
$token-color-wmca-orange: #C05701;
$token-color-wmca-tints-brown: #843B00;
$token-color-wmca-tints-dark-brown: #5F2B00;
$token-color-wmca-tints-dark-teal: #003E53;
$token-color-wmca-tints-orange-30: #F8F0E5;
$token-color-wmca-tints-orange-50: #F2E1CC;
$token-color-wmca-tints-teal: #005775;
$token-font-family-dm-sans: DM Sans;
$token-font-family-noto-sans: Noto Sans Display;
$token-font-size-1: 16;
$token-font-size-2: 18;
$token-font-size-3: 23;
$token-font-size-4: 32;
$token-font-size-5: 39;
$token-font-size-6: 46;
$token-font-weight-bold: Bold;
$token-font-weight-regular: Regular;
$token-form-label-fontfamily: Noto Sans Display;
$token-form-label-fontsize: 16;
$token-form-label-fontweight: Regular;
$token-form-label-letterspacing: 0;
$token-form-label-lineheight: 24;
$token-form-label-paragraphspacing: 15;
$token-form-label-textcase: none;
$token-form-label-textdecoration: none;
$token-heading-1-fontfamily: DM Sans;
$token-heading-1-fontsize: 46;
$token-heading-1-fontweight: Bold;
$token-heading-1-letterspacing: 0;
$token-heading-1-lineheight: 48;
$token-heading-1-paragraphspacing: 0;
$token-heading-1-textcase: none;
$token-heading-1-textdecoration: none;
$token-heading-2-fontfamily: DM Sans;
$token-heading-2-fontsize: 32;
$token-heading-2-fontweight: Bold;
$token-heading-2-letterspacing: 0;
$token-heading-2-lineheight: 35.6;
$token-heading-2-paragraphspacing: 0;
$token-heading-2-textcase: none;
$token-heading-2-textdecoration: none;
$token-heading-3-fontfamily: DM Sans;
$token-heading-3-fontsize: 23;
$token-heading-3-fontweight: Bold;
$token-heading-3-letterspacing: 0;
$token-heading-3-lineheight: 24;
$token-heading-3-paragraphspacing: 0;
$token-heading-3-textcase: none;
$token-heading-3-textdecoration: none;
$token-heading-4-fontfamily: DM Sans;
$token-heading-4-fontsize: 18;
$token-heading-4-fontweight: Bold;
$token-heading-4-letterspacing: 0;
$token-heading-4-lineheight: 24;
$token-heading-4-paragraphspacing: 0;
$token-heading-4-textcase: none;
$token-heading-4-textdecoration: none;
$token-heading-5-fontfamily: Noto Sans Display;
$token-heading-5-fontsize: 16;
$token-heading-5-fontweight: Bold;
$token-heading-5-letterspacing: 0;
$token-heading-5-lineheight: AUTO;
$token-heading-5-paragraphspacing: 1;
$token-heading-5-textcase: none;
$token-heading-5-textdecoration: none;
$token-letter-spacing-0: 0;
$token-line-heights-0: 48;
$token-line-heights-1: 35.6;
$token-line-heights-2: 24;
$token-line-heights-3: AUTO;
$token-line-heights-4: 23;
$token-line-heights-5: 40.8;
$token-line-heights-6: 28.9;
$token-link-fontfamily: Noto Sans Display;
$token-link-fontsize: 16;
$token-link-fontweight: Bold;
$token-link-letterspacing: 0;
$token-link-lineheight: 24;
$token-link-paragraphspacing: 15;
$token-link-textcase: none;
$token-link-textdecoration: underline;
$token-mobile-heading-1-fontfamily: DM Sans;
$token-mobile-heading-1-fontsize: 39;
$token-mobile-heading-1-fontweight: Bold;
$token-mobile-heading-1-letterspacing: 0;
$token-mobile-heading-1-lineheight: 40.8;
$token-mobile-heading-1-paragraphspacing: 1;
$token-mobile-heading-1-textcase: none;
$token-mobile-heading-1-textdecoration: none;
$token-mobile-heading-2-fontfamily: DM Sans;
$token-mobile-heading-2-fontsize: 23;
$token-mobile-heading-2-fontweight: Bold;
$token-mobile-heading-2-letterspacing: 0;
$token-mobile-heading-2-lineheight: 28.9;
$token-mobile-heading-2-paragraphspacing: 1;
$token-mobile-heading-2-textcase: none;
$token-mobile-heading-2-textdecoration: none;
$token-navigation-link-fontfamily: DM Sans;
$token-navigation-link-fontsize: 16;
$token-navigation-link-fontweight: Bold;
$token-navigation-link-letterspacing: 0;
$token-navigation-link-lineheight: AUTO;
$token-navigation-link-paragraphspacing: 0;
$token-navigation-link-textcase: none;
$token-navigation-link-textdecoration: none;
$token-other-auto-layout: hug;
$token-paragraph-spacing-0: 0;
$token-paragraph-spacing-1: 1;
$token-paragraph-spacing-2: 15;
$token-space-0: 0;
$token-space-100: 8;
$token-space-1000: 80;
$token-space-10px: 10px;
$token-space-1200: 96;
$token-space-125: 10;
$token-space-1400: 112;
$token-space-14px: 14px;
$token-space-150: 12;
$token-space-1600: 128;
$token-space-175: 14;
$token-space-1800: 144;
$token-space-200: 16;
$token-space-2000: 160;
$token-space-20px: 20px;
$token-space-2200: 176;
$token-space-225: 18;
$token-space-2400: 192;
$token-space-25: 2;
$token-space-250: 20;
$token-space-2600: 208;
$token-space-275: 22;
$token-space-2800: 224;
$token-space-300: 24;
$token-space-3000: 240;
$token-space-3200: 256;
$token-space-3400: 288;
$token-space-350: 28;
$token-space-3600: 320;
$token-space-3800: 384;
$token-space-400: 32;
$token-space-40px: 40px;
$token-space-50: 4;
$token-space-500: 40;
$token-space-600: 48;
$token-space-66px: 66px;
$token-space-700: 56;
$token-space-75: 6;
$token-space-800: 64;
$token-space-900: 72;
$token-text-case-none: none;
$token-text-decoration-none: none;
$token-text-decoration-underline: underline;
