{% macro wmcadsIncusiveGrowthDoughnut(params) %} 

  <div class="wmcads-ig-doughnut">
    <div class="wmcads-ig-doughnut-preload">
      <img src="https://cdnpremium.blob.core.windows.net/cdn/wmcaassets/img/igDoughnut/igf-inclusive-economy.svg">
      <img src="https://cdnpremium.blob.core.windows.net/cdn/wmcaassets/img/igDoughnut/igf-power-and-participation.svg">
      <img src="https://cdnpremium.blob.core.windows.net/cdn/wmcaassets/img/igDoughnut/igf-affordable-and-safe-places.svg">
      <img src="https://cdnpremium.blob.core.windows.net/cdn/wmcaassets/img/igDoughnut/igf-connected-communities.svg">
      <img src="https://cdnpremium.blob.core.windows.net/cdn/wmcaassets/img/igDoughnut/igf-education-and-learning.svg">
      <img src="https://cdnpremium.blob.core.windows.net/cdn/wmcaassets/img/igDoughnut/igf-health-and-wellbeing.svg">
      <img src="https://cdnpremium.blob.core.windows.net/cdn/wmcaassets/img/igDoughnut/igf-equality.svg">
      <img src="https://cdnpremium.blob.core.windows.net/cdn/wmcaassets/img/igDoughnut/igf-climate-resilience.svg">
    </div>
    <div class="wmcads-ig-doughnut-fundamentals wmcads-ig-doughnut-climate-resilience"><a aria-label="Find out more about Climate resilience" class="wmcads-ig-doughnut-link" href="#"></a></div>
    <div class="wmcads-ig-doughnut-fundamentals wmcads-ig-doughnut-inclusive-economy"><a aria-label="Find out more about Inclusive economy" class="wmcads-ig-doughnut-link" href="#"></a></div>
    <div class="wmcads-ig-doughnut-fundamentals wmcads-ig-doughnut-power-and-participation"><a aria-label="Find out more about Power and participation" class="wmcads-ig-doughnut-link" href="#"></a></div>
    <div class="wmcads-ig-doughnut-fundamentals wmcads-ig-doughnut-affordable-and-safe-places"><a aria-label="Find out more about Affordable and safe places" class="wmcads-ig-doughnut-link" href="#"></a></div>
    <div class="wmcads-ig-doughnut-fundamentals wmcads-ig-doughnut-connected-communities"><a aria-label="Find out more about Connected communities" class="wmcads-ig-doughnut-link" href="#"></a></div>
    <div class="wmcads-ig-doughnut-fundamentals wmcads-ig-doughnut-education-and-learning"><a aria-label="Find out more about Education and learning" class="wmcads-ig-doughnut-link" href="#"></a></div>
    <div class="wmcads-ig-doughnut-fundamentals wmcads-ig-doughnut-health-and-wellbeing"><a aria-label="Find out more about Health and wellbeing" class="wmcads-ig-doughnut-link" href="#"></a></div>
    <div class="wmcads-ig-doughnut-fundamentals wmcads-ig-doughnut-equality"><a aria-label="Find out more about Equality" class="wmcads-ig-doughnut-link" href="#"></a></div>
    <div class="wmcads-ig-doughnut-framework"></div>
 </div>

{% endmacro %}