{% macro wmcadsSearchbar(params) %}
{% set placeHolder = params.placeHolder or 'Site search...' %}

<form class="wmcads-search-bar">
    <input aria-label="Search" type="search" class="wmcads-search-bar__input wmcads-fe-input" placeholder="{{placeHolder}}">
    <button class="wmcads-search-bar__btn" types="submit">
        <svg><title>Search</title><use xlink:href="#wmcads-general-search" href="#wmcads-general-search"></use></svg>
    </button>
</form>
{% endmacro %}
