// Vars
@import "../wmcads/assets/sass/vars";

// Mixins
@import "../wmcads/assets/sass/mixins";

@import "_partials/component-example/component-example";

// Styleguide page specific styles
@import "pages/home";
@import "pages/styles/colour-palettes/colorPalette";
@import "pages/styles/icons/icons";

.ds-website-inline-code {
  padding: $size-xs;
  color: get-color(primary);
  background: $white;
  @include type-setting(4);
}
