{% macro wmcadsPageContents(params) %}
{% from "wmcads/components/accordion/_accordion.njk" import wmcadsAccordion %}
{% set title = params.title if params.title else "Page title" %}

  <div class="ds-page-contents {% if(params.dynamic) %} ds-dynamic-page-contents {% endif %}  {% if(params.rightMargin) %} ds-m-r-lg {% endif %} {% if(params.sections) %}ds-page-contents--with-accordion{% endif %}">
      <h2 class="ds-h3">Page contents</h2>
      <div class="{% if(params.sections) %}current{% endif %}">{{title}}</div>
      {% if(params.example) %}
        <a>link 1</a>
        <a>link 2</a>
        <a>link 3</a>
        <a>link 4</a>
      {% endif %}
      {% if(params.sections) %}
      <div class="ds-accordion">
        <div aria-controls="accordion-01" class="ds-accordion__summary-wrapper" aria-expanded="false">
        <!-- accordion summary -->
        <div class="ds-accordion__summary">
          <p class="ds-m-b-none"><a href="#">Section 1</a></p>
        </div>
        <!-- plus icon -->
        <svg class="ds-accordion__icon">
          <use xlink:href="#ds-general-expand" href="#ds-general-expand"></use>
        </svg>
        <!-- minus icon -->
        <svg class="ds-accordion__icon ds-accordion__icon--minimise">
          <use xlink:href="#ds-general-minimise" href="#ds-general-minimise"></use>
        </svg>
      </div>

      <!-- accordion content -->
      <div class="ds-accordion__content" id="accordion-01">
        <ul class="ds-bare-list">
          <li class="current"><a href="#">Sub section 1</a></li>
          <li><a href="#">Sub section 2</a></li>
        </ul>
      </div>
    </div>
    <div class="ds-accordion">
        <div aria-controls="accordion-01" class="ds-accordion__summary-wrapper" aria-expanded="false">
        <!-- accordion summary -->
        <div class="ds-accordion__summary">
          <p class="ds-m-b-none"><a href="#">Section 2</a></p>
        </div>
        <!-- plus icon -->
        <svg class="ds-accordion__icon">
          <use xlink:href="#ds-general-expand" href="#ds-general-expand"></use>
        </svg>
        <!-- minus icon -->
        <svg class="ds-accordion__icon ds-accordion__icon--minimise">
          <use xlink:href="#ds-general-minimise" href="#ds-general-minimise"></use>
        </svg>
      </div>

      <!-- accordion content -->
      <div class="ds-accordion__content" id="accordion-01">
        <ul class="ds-bare-list">
          <li><a href="#">Sub section 1</a></li>
          <li><a href="#">Sub section 2</a></li>
        </ul>
      </div>
    </div>
    {% endif %}
  </div>
{% endmacro %}