{% macro wmcadsPageContents(params) %}
  <div class="wmcads-page-contents">
      <h3>Page contents</h3>
      <div>Page title</div>
      <a>link 1</a>
      <a>link 2</a>
      <a>link 3</a>
      <a>link 4</a>
  </div>
{% endmacro %}