{% extends "www/_layouts/layout-left-pane.njk" %}
{% set pageTitle = "Get started" %}
{% set section="Docs" %}
{% set ds = 'wmca' %}

{% from "www/_partials/component-example/component-example.njk" import compExample %}
{% from "wmcads/patterns/banner/_banner.njk" import wmcadsBanner %}

{% block content %}

<p>The West Midlands Combined Authority Design System provides a collection of reusable HTML components to build custom services and experiences that adhere to Transport for West Midlands's design standards.</p>

<p>There are many different ways to get started with our design system. It all depends on your project's needs and whether you are developing, designing or somewhere in the middle.</p>



{% endblock %}
