.ds-col-img {
  display: grid !important;
  height: auto;
  place-items: center;
}

.ds-image {
  max-width: 100%;
  height: auto;

  &__hex {
    display: inline-flex;
    height: 300px;

    img {
      display: block;
      width: 100%;
      mask-position: center;
      mask-repeat: no-repeat;
      mask-size: 100%;
      mask-image: url("../img/mask/hexagon.svg");
      mask-mode: alpha;
    }
  }

  &__summary {
    margin-bottom: $size-lg;
    padding: $size-sm;
    background: $white;
  }
}
