{% macro wmcadsImages(params) %}
<div class="wmcads-image__hex">
    <img src="https://www.wmca.org.uk/media/1862/andy-street-september-2016-1-002.jpg?anchor=center&mode=crop&width=700&height=700&rnd=131547073580000000" alt="" />
</div>
{% endmacro %}