{% extends "www/_layouts/layout-left-pane.njk" %}
{% set pageTitle="Incusive Growth Doughnut" %}
{% from "wmcads/components/inclusive-growth-doughnut/_inclusive-growth-doughnut.njk" import wmcadsIncusiveGrowthDoughnut %}
{% from "www/_partials/component-example/component-example.njk" import compExample %}
{% set ds = 'st' %}

{% block content %}
{{
  compExample([
    wmcadsIncusiveGrowthDoughnut()
  ])  
}}
{% endblock %}