// Vars
@use "../../../wmcads/assets/sass/shared/vars" as *;
@use "../../../wmcads/assets/sass/rar/rar-vars" as *;

// Mixins
@use "../../../wmcads/assets/sass/shared/mixins" as *;

@use "../../_partials/component-example/component-example";

// Styleguide page specific styles
@use "../../pages/home";
@use "../../pages/wmca/styles/colour-palettes/colorPalette";
@use "../../pages/wmca/styles/icons/icons";

.ds-website-inline-code {
  padding: $size-xs;
  color: get-color(primary);
  background: $white;
  @include type-setting(4);
}
