{% macro wmcadsFileDownload(params) %}
{# Imports #}
{% from "wmcads/components/icon/_icon.njk" import wmcadsIcon %}
{# Set #}
{% set fileName = params.fileName or 'file name' %}
{% set fileType = params.fileType or 'filetype' %}
{% set fileSize = params.fileSize or 'filesize' %}
{% set accessibleClass = " wmcads-file-download--non-accessible" if params.accessible === false else "" %}

<div class="wmcads-file-download{{accessibleClass}}">
    {{
        wmcadsIcon({
            class: "wmcads-file-download__icon",
            icon: "general-file"
        }) | trim | indent(4)
    }}
    <div class="wmcads-file-download__desc">
        <a href="#" download="{{ fileName|replace(' ', '_') + '.' + fileType|lower }}" class="wmcads-link">
            {% if params.html === false -%} Download '{{fileName}}' ({{fileType}}, {{fileSize}}) {%- endif %}  {% if params.html === true -%} HTML document link {%- endif %}
        </a>
        {% if params.accessible === true -%}
        <p class="wmcads-file-download__warning">
            This file may not be suitable for users of assistive technology. <br>
            <a href="#" class="wmcads-link">Request an accessible format.</a>
        </p>
        {%- endif %}
    </div>
    {% if params.html === true -%}
    {{
        wmcadsIcon({
            class: "wmcads-file-download__chevron-icon",
            icon: "general-chevron-right"
        }) | trim | indent(4)
    }}
    {%- endif %}
</div>

{% endmacro %}