{% macro wmcadsHeaderV2(params) %}
{# Set navItems #}
{% set navItems = params.navItems %}
{% set appClass = " ds-header--mobile-app" if params.app else "" %}
{% set menuClass = "" if params.legacyMenu else " ds-header--mega-menu" %}
{% set ds = params.ds %}

{% if (ds == "wmca") %}
    {% set name =  "West Midlands Combined Authority" %}
    {% set logoSrc =  "/img/logo/wmca-logo.svg" %}
{% endif %}

{% if (ds== "tfwm") %}
    {% set name =  "Transport for West Midlands" %}
    {% set logoSrc =  "/img/logo/tfwm-logo.svg" %}
{% endif %}

{% if (ds == "st") %}
    {% set name =  "Safer Travel" %}
    {% set logoSrc =  "/img/logo/st-logo.svg" %}
{% endif %}

{% if (ds== "mc") %}
    {% set name =  "Midlands Connect" %}
    {% set logoSrc =  "/img/logo/mc-logo.svg" %}
{% endif %}

{% if (ds== "cia") %}
    {% set name =  "Change into Action" %}
    {% set logoSrc =  "/img/logo/cit-logo.svg" %}
    {% set class = 'ds-header__logo-link-full' %}
{% endif %}

{% set navigationAriaLabel = params.exampleAria + " example navigation" if params.exampleAria else "Navigation" %}
{# Imports #}
{% from "wmcads/components/icon/_icon.njk" import wmcadsIcon %}
{% from "wmcads/components/link/link/_link.njk" import wmcadsLink %}
{% from "wmcads/patterns/banner/_banner.njk" import wmcadsBanner %}
{% from "wmcads/components/breadcrumb/_breadcrumb.njk" import wmcadsBreadcrumb %}
{% from "wmcads/patterns/cookies/cookies-banner/_cookies-banner.njk" import wmcadsCookiesBanner %}
{% from "wmcads/patterns/search/search-bar/_search-bar.njk" import wmcadsSearchbar %}
{% from "wmcads/patterns/autocomplete/_autocomplete.njk" import wmcadsAutocomplete %}

<!-- Skip to content link -->
{{
  wmcadsLink({
    link: '#ds-main-content',
    linkTitle: 'Skip to main content',
    text: 'Skip to main content',
    contentText: 'Skip to main content',
    classes: 'ds-link ds-header__skip-link'
  })
}}
<!-- Main header section -->
<header>
  {{
    wmcadsCookiesBanner()
  }}
  <div class="ds-header{{appClass}}{{menuClass}}">
    <div class="ds-container ds-grid ds-grid--align-center ds-grid--justify-between">
      <div class="ds-header__vertical-align ds-col-auto">
        <!-- Logo -->
        <a class="ds-header__logo-link {{class}}" href="/{{ds}}" title="{{name}} Design System">
          <img class="ds-header__logo" alt="{{name}} logo" src={{logoSrc}} />
        </a>
      </div>
      {#- If with a title #}
      {% if params.withTitle %}
        <!-- Header title -->
        <h1 class="ds-header__title ds-col-1 ds-col-sm-auto">
          {{params.title}}
        </h1>
      {% else %}
        <!-- Mega menu nav items-->
        <nav id="{{params.id}}" class="ds-mega-menu">
          <!-- Mobile toggle button -->
          <button class="ds-mega-menu__mobile-toggle ds-btn ds-btn--secondary ds-hide-desktop" aria-expanded="false" aria-controls="{{params.id}}-primary-menu">Menu
            <svg class="ds-mega-menu__close-icon"><use xlink:href="#ds-general-cross" href="#ds-general-cross"></use></svg>
          </button>
          <!-- Container for mega menu - allows scrolling on mobile nav -->
          <div id="{{params.id}}-primary-menu" class="ds-mega-menu__scroll-controller">
            <!-- Start primary (level 1) navigation -->
            <ul class="ds-mega-menu__primary-menu">
              {% for navItem in navItems %}
                <li class="ds-mega-menu__primary-menu-item">
                <!-- Show swift logo in nav if is swift & tickets link -->
                {% set navItemIcon = wmcadsIcon({icon: 'swift-full-logo', class: 'ds-swift-icon', title: 'Swift'}) if navItem.name === "Swift and tickets" else "" %}
                {% set navItemContent = " and tickets" if navItem.name === "Swift and tickets" else navItem.name %}
                  <!-- allow primary (level 1) item to link if specified -->
                  {% if params.linkTopLevel %}{{navItemIcon}}
                    <a href="/{{params.ds}}/{{ navItem.name | lower | replace(" ", "-") }}/" title="{{ navItem.name }} page" target="_self" class="ds-mega-menu__primary-menu-link" >
                      {{navItemIcon}}{{ navItemContent }}
                    </a>
                  <!-- if not linked use a button -->
                  {% else %}
                    <button target="_self" class="ds-mega-menu__primary-menu-link" >
                      {{navItemIcon}}{{ navItemContent }}
                    </button>
                  {% endif %}
                  {% if navItem.subnavItems %}
                    <!-- arrow icon for mobile nav -->
                    <button class="ds-mega-menu__link-arrow-icon-btn" data-label="{{ navItem.name }}" aria-label="toggle {{ navItem.name }}" aria-controls="{{params.id}}-container"><svg class="ds-mega-menu__link-arrow-icon"><use xlink-href="#ds-general-chevron-right" href="#ds-general-chevron-right"></use></svg></button>
                    <!-- Start mega menu container -->
                    <div id="{{params.id}}-container-{{ loop.index }}" class="ds-mega-menu__container">
                      <div class="ds-container">
                        <!-- Start submenu (level 2) -->
                        <ul class="ds-mega-menu__sub-menu">
                          {% for subnavItem in navItem.subnavItems %}
                            {% if subnavItem.unlinked %}
                              {% set _tag = 'button' %}
                              {% set _classes = " ds-btn ds-btn--link" %}
                            {% else %}
                              {% set _tag = 'a' %}
                              {# Set href if specified, else set an auto generated href #}
                              {% set _hrefSubnav = subnavItem.href if subnavItem.href else "/" + ds + "/" + navItem.name + "/" + subnavItem.name  + "/"%}
                              {# Set href attribute for link #}
                              {% set _attributes = " href=\"" + _hrefSubnav | lower | replace(" ", "-") + "\"" if _hrefSubnav else "" %}
                            {% endif %}
                            <li class="ds-mega-menu__sub-menu-item">
                              <{{_tag}}{{_attributes | safe}} class="ds-mega-menu__sub-menu-link{{_classes}}">
                                {% if subnavItem.icon %}
                                <!-- Show submenu (level 2) item icon if specified -->
                                <svg class="ds-mega-menu__sub-menu-link-icon">
                                  <use xlink:href="#ds-{{subnavItem.icon}}" href="#ds-{{subnavItem.icon}}"></use>
                                </svg>
                                {% endif %}
                                {{subnavItem.name| replace("Swift", wmcadsIcon({icon: 'swift-full-logo', class: 'ds-swift-icon', title: 'Swift'}) | indent(6) | trim) | safe}}</{{_tag}}>
                                {% if subnavItem.subnavItems %}
                                <!-- collapse button for mobile nav level 3 menu items -->
                              <button class="ds-mega-menu__collapse-toggle" aria-expanded="false" aria-label="Toggle {{subnavItem.name}} menu" aria-controls="{{params.id}}-submenu-child-menu"><svg class="ds-mega-menu__link-arrow-icon"><use xlink-href="#ds-general-chevron-right" href="#ds-general-chevron-right"></use></svg></button>
                              <!-- Start submenu child (level 3) list -->
                              <ul id="{{params.id}}-submenu-child-menu-{{ subnavItem.name | lower | replace(" ", "-") }}-{{ loop.index }}" class="ds-mega-menu__sub-menu-child-menu">
                                {% for subnavChildItem in subnavItem.subnavItems %}
                                {# Set auto generated href string for fallback - ignore 2nd level nav name if it is unlinked #}
                                {% set _hrefString = "/" + navItem.name + "/" + subnavChildItem.name + "/" if subnavItem.unlinked else "/" + navItem.name + "/" + subnavItem.name + "/" + subnavChildItem.name + "/" %}
                                {# Set href if it is set else fallback to auto generated link #}
                                {% set _hrefSubnavChild = subnavChildItem.href if subnavChildItem.href else _hrefString | lower | replace(" ", "-") %}
                                <li class="ds-mega-menu__sub-menu-child-item">
                                  <a href="{{ds}}/{{_hrefSubnavChild}}" class="ds-mega-menu__sub-menu-child-link">{{subnavChildItem.name | capitalize}}2</a>
                                </li>
                                {% endfor %}
                              </ul>
                              <!-- End submenu child (level 3) list -->
                              {% endif %}
                            </li>
                          {% endfor %}
                        </ul>
                        <!-- End submenu (level 2) -->
                      </div>
                    </div>
                    <!-- End mega menu container -->
                  {% endif %}
                </li>
              {% endfor %}
            </ul>
            <!-- End primary (level 1) navigation -->
          </div>
          <!-- End scrollable container -->
          {% if(params.search) %}
          <div class="ds-mega-menu__primary-menu-item ds-mega-menu__search">
            <button class="ds-mega-menu__primary-menu-link ds-mega-menu__search-btn">
              <svg class="ds-mega-menu__search-icon">
                <title>Search</title>
                <use xlink:href="#ds-general-search" href="#ds-general-search"></use>
              </svg>
              <svg class="ds-mega-menu__search-close-icon">
                <title>Close</title>
                <use xlink:href="#ds-general-cross" href="#ds-general-cross"></use>
              </svg>
            </button>
            <div class="ds-mega-menu__container ds-mega-menu__search-container">
              <div class="ds-search-container">
                {% if params.wmcadsSearch %}
                  {{
                    wmcadsAutocomplete(
                      params.wmcadsSearch
                    )
                  }}
                  <div id="wmcadsSearchSuggestions" class="ds-autocomplete-suggestions" style="display: none;">
                  </div>
                {% else %}
                  {{
                    wmcadsSearchbar(params.search)
                  }}
                {% endif %}
                {% if(params.searchSuggestions) %}
                  <p class="ds-search-heading ds-h1">I want to...</p>
                  <div class="ds-grid">
                    <div class="ds-col-1-2">
                      <ul class="ds-search-list">
                      {% for i in range(0, 4) %}
                        <li class="ds-search-list__item">
                          <a href="#" class="ds-link ds-link--with-chevron">{{params.searchSuggestions[i]}}
                            {{wmcadsIcon({
                              class: 'ds-link__chevron ds-link__chevron--right',
                              icon: 'general-chevron-right'
                            })}}
                          </a>
                        </li>
                      {% endfor %}
                      </ul>
                    </div>
                    <div class="ds-col-1-2">
                      <ul class="ds-search-list">
                      {% for i in range(4, params.searchSuggestions.length) %}
                        <li class="ds-search-list__item">
                          <a href="#" class="ds-link ds-link--with-chevron">{{params.searchSuggestions[i]}}
                            {{wmcadsIcon({
                              class: 'ds-link__chevron ds-link__chevron--right',
                              icon: 'general-chevron-right'
                            })}}
                          </a>
                        </li>
                      {% endfor %}
                      </ul>
                    </div>
                  </div>
                {% endif %}
              </div>
            </div>
          </div>
          {% endif %}
        </nav>
        {% endif %}
      </div>
    </div>

    {% if (params.ciaArea == true) %}
      {% if (params.ds== "cia") %}
        <div class="ds-cia-area">
          This is a Change into Action Birmingham page. <a href="">Change your area</a>
        </div>
      {% endif %}
    {% endif %}

    {% if params.banner or params.breadcrumbs %}
      <div class="ds-container">
        {% if params.banner %}
          <!-- Phase banner -->
          {{
            wmcadsBanner ({
              link: 'https://github.com/wmcadigital/wmca-design-system/issues',
              linkTitle: 'WMN Design System Github',
              phase: true
            })
          }}
        {% endif %}

        {% if (params.breadcrumbs.pageTitle != 'Homepage Template') and (params.breadcrumbs.pageTitle != 'West Midlands Combined Authority Design System') and (params.breadcrumbs.pageTitle != 'Transport for West Midlands Design System') and (params.breadcrumbs.pageTitle != 'Safer Travel Design System') and (params.breadcrumbs.pageTitle != 'Midlands Connect Design System') and (params.breadcrumbs.pageTitle != 'Change Into Action Design System') %}
        {% set breadcrumbList = null if params.breadcrumbs.section === params.breadcrumbs.pageTitle else {
              contentText: params.breadcrumbs.pageTitle
            } %}
        <!-- Breadcrumbs -->
        {{
          wmcadsBreadcrumb({
            items: [{
              contentText: params.breadcrumbs.section or "Components",
              unlinkedItem: false if breadcrumbList else true
            }, breadcrumbList],
            label: params.label,
            ds: ds
          })
        }}
      {% endif %}
    </div>
  {% endif %}
</header>

{% if params.megaMenuDemo %}
  <!-- Content space for example purposes only. DO NOT INCLUDE -->
  <div class="demo-content">
    <p>Example content <br> <a href="/patterns/header-demo" target="_blank">View full page example (opens in new window)</a></p>
  </div>
  <!-- END DO NOT INCLUDE -->
{% endif %}
{% endmacro %}