.ds-fe-dropdown {
  position: relative;

  &__select {
    width: 100%;
    padding: $size-sm;
    padding-right: 56px;
    border: 1px solid get-color(primary);
    border-radius: 0;
    appearance: none;
    background-size: contain;
    @include type-setting(0);
    color: get-color(text);
  }
}
