.wmcads-document {
  display: block;
  padding-bottom: 15px;
  border-bottom: 1px solid get-color(brandCoolGrey);

  a {
    display: block;
    margin-bottom: 15px;
    color: get-color(cta);
    font-size: 23px;
  }

  div {
    display: inline-block;
  }

  div:first-of-type {
    margin-right: 30px;
  }
}

.wmcads-documents {
  margin-bottom: 30px;
  padding: 10px;
  border-bottom: 3px solid get-color(text);

  div {
    margin: 20px 0 10px;
    border-bottom: 1px solid get-color(brandCoolGrey);
  }

  div:last-child {
    border-bottom: 0;
  }

  a {
    display: block;
    margin: 5px 0;
  }

  span {
    font-size: 13px;
  }

  span:first-of-type {
    margin-right: 10px;
  }
}
