{% macro wmcadsDocument() %}


<div class="wmcads-document">
  <a>Document Title</a>
  <div>25 November 2020</div>
  <div>Policy document</div>
</div>
{% endmacro %}

{% macro wmcadsDocuments() %}

<div class="wmcads-documents">
    <h3>Related documents</h3>
    <div>
        <a>Local Industry Strategy</a>
        <span>25 November 2020</span><span>Policy document</span>
    </div>
    <div>
        <a>WMCA Annual Plan 2019-2020</a>
        <span>25 November 2020</span><span>Policy document</span>
    </div>
    <div>
        <a>Document Title</a>
        <span>25 November 2020</span><span>Policy document</span>
    </div>
    <div>
        <a>Local Industry Strategy</a>
        <span>25 November 2020</span><span>Policy document</span>
    </div>
    <div>
        <a>See all Productivity and Skills documents</a>
    </div>
</div>
{% endmacro %}