{% macro wmcadsContentCardTravelUpdates(params) %}
{# imports #}
{% from "wmcads/components/content-card/_content-card.njk" import wmcadsContentCard %}
{% from "wmcads/components/disruption-indicator/large/_large.njk" import wmcadsDisruptionIndicatorLarge as largeDisruption %}
{% from "wmcads/components/disruption-indicator/medium/_medium.njk" import wmcadsDisruptionIndicatorMedium as mediumDisruption %}
{% from "wmcads/components/message/help/_help.njk" import wmcadsMsgHelp %}
{# Set #}
{% set largeDisruptionsAreas = ["Hagley Road", "Ring Road"] %}
{% set buses = ["9", "10", "12", "12A", "13", "13A", "126", "X8", "X10", "23"] %}

{% call wmcadsContentCard({ variant: "ds-content-card--travel-updates"}) %}
    <div class="ds-p-sm ds-col-1">
        <h2 class="ds-content-card__title">Travel updates</h2>
        <p>All routes through this disruption</p>
        <!-- Large disruption indicators -->
        <h3>Roads</h3>
        {% for area in largeDisruptionsAreas %}
        <div class="ds-m-t-sm">
            {{
                largeDisruption({
                strongText: area,
                text: "Usual traffic",
                iconLeft: "modes-isolated-roads",
                iconRight: "general-success"
                }) | trim | indent(8)
            }}
        </div>
        {% endfor %}
        <!-- Medium disruptions indicators -->
        <h3>Bus routes</h3>
        <div class="ds-grid">
            {#- Loop through buses -#}
            {% for bus in buses %}
            <div class="ds-col-auto ds-m-r-md">
                {{
                    mediumDisruption({
                    text: bus,
                    classModifiers: "ds-disruption-indicator-medium--success ds-disruption-indicator-medium--narrow-travel-updates ds-disruption-indicator-medium--narrow-travel-updates-bus",
                    iconLeft: "modes-isolated-bus",
                    iconRight: "general-success"
                    }) | trim | indent(12)
                }}
                <div class="ds-grid ds-grid--justify-around ds-p-t-sm ds-p-b-sm">
                    <svg class="ds-disruption-indicator-medium-star">
                        <use xlink:href="/img/ds-icons.min.svg#ds-general-star-empty" href="/img/ds-icons.min.svg#ds-general-star-empty"></use>
                    </svg>
                </div>
            </div>
            {% endfor %}
        </div>
        <!-- Help message -->
        {{
            wmcadsMsgHelp({
                message: 'Save bus routes to your homepage by pressing the star icon'
            }) | indent(12) | trim
        }}
    </div>
{% endcall %}

{% endmacro %}
