// Included the ol tag too incase dev forgets to add .wmcads-ordered-list class.
// The ol:not([class*="wmcads-"]) line makes sure we don't target any wmcads components that are using the a tag such as the breadcrumbs

.wmcads-ordered-list,
.wmcads-html ol:not([class*="wmcads-"]) {
  position: relative;
  counter-reset: item;
  padding-inline-start: $size-lg;

  a,
  .wmcads-link {
    display: inline;
    font-family: $x-font-family-bold;
  }

  ol,
  ul:not(.wmcads-unordered-list) {
    position: relative;
    margin-top: $size-md;
    counter-reset: item;
    padding-inline-start: $size-lg;
  }

  li {
    display: block;
    position: relative;

    &:before {
      content: counters(item, ".") ".";
      position: absolute;
      left: -1.5rem;
      color: get-color(primary);
      counter-increment: item;
    }
  }

  // Create correct spacing for indent allowing for increase in counter length
  $selector: "ol:not([class*='wmcads-']) li";
  @for $i from 0 through 5 {
    #{repeater($selector, $i, " > ")}:before {
      left: -#{1.25 + (($i + 1) * 0.8rem)};
    }
  }
}
