{% raw %}
{% from "wmcads/patterns/hub-page-banner/_hub-page-banner.njk" import wmcadsHubPageBanner %}

{{
  wmcadsHubPageBanner({
    title: "Hub Header",
    contentHTML: "Subtitle",
    image: "/img/examples/curzon-street.png"
  })
}}
{% endraw %}
