{% macro wmcadsContentCard(params) %}
{# Set #}

{# Opening & closing tags #}
{% set tag = "a" if params.clickable else "div" %}
{% set attributes = " href=\"#\" target=\"_self\"" if params.clickable else "" %}
{# HTML content #}
{% set html = params.html if params.html else "
    <div class=\"wmcads-p-sm\">
    <h2>Lorem ipsum dolor sit amet</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
" %}

{# This macro checks if it's being called inside a {% call %} tag #}
{# It's an easier way to pass in larger html content  #}
<{{tag}}{{attributes | safe}} class="wmcads-content-card{{"--blue" if params.isCta else "" }}">
    {% if(params.src) %}
        <img src="https://www.wmca.org.uk/media/3415/wmca-bournville-131.jpg?anchor=center&mode=crop&width=1180&height=300&rnd=132122595620000000" alt="content image">
    {% endif %}
    {% if(params.isCta) %}
        <div class="wmcads-p-sm">
            <svg>
                <use xlink:href="#wmcads-general-toolkit" href="#wmcads-general-toolkit"></use>
            </svg>
            <h2>Lorem ipsum dolor sit amet</h2>
        </div>
    {% else %}
        {%- if caller -%}
            {{ caller() }}
            {%- else -%}
            {{ html | safe }}
        {%- endif -%}
    {% endif %}
</{{tag}}>
{% endmacro %}
