//accessibility styles
@mixin accessibility-hover {
  h2,
  h3 {
    color: get-color(primary);
    text-decoration: underline;
  }

  &:hover,
  &:focus {
    box-sizing: border-box;
    outline: 1px solid get-color(primary);
  }
}

.ds-content-card {
  display: block;
  border-bottom: 5px solid get-color(primary);
  color: get-color(text);
  background-color: $white;
  text-decoration: none;

  @at-root a#{&} {
    display: block;
    color: get-color(text);
    text-decoration: none;
    @include accessibility-hover;
  }

  .ds-buttons {
    margin-top: $size-md;
  }

  // Modifiers
  &--blue {
    display: block;
    border-bottom: 0;
    color: $white;
    background: get-color(cta);

    h2 {
      color: $white;
    }

    svg {
      width: 60px;
      height: 60px;
      fill: $white;
    }
  }

  &--event {
    h2,
    h3 {
      margin: 0 0 $size-sm 0;
    }
  }

  &--news {
    border: 0;
    background-color: transparent;

    img {
      display: block;
      width: 100%;
    }

    p {
      margin: 0;
    }

    h3 {
      margin: $size-xs 0;

      a {
        margin: $size-xs 0;
      }
    }
  }

  img {
    display: inline;
    position: relative;
    top: 1px;
    left: 1px;
    width: calc(100% - 1px);

    object-fit: cover;
    @media screen and (max-width: $breakpoint-lg) {
      height: auto;
    }
  }

  h3 {
    margin-top: 0;
  }

  .material-symbols-outlined {
    display: inline-block;
    margin-top: $size-lg;
    color: get-color(primary);
    fill: get-color(primary);
    font-size: 5rem;
  }

  .ds__icon {
    width: 5rem;
    height: 5rem;
    color: get-color(primary);
    fill: get-color(primary);
    text-align: left;
  }

  .ds-btn {
    width: 100%;
  }
}
