//accessibility styles
@mixin accessibility-hover {
  h2 {
    text-decoration: underline;
  }

  &:hover,
  &:focus {
    box-shadow: inset 0 0 0 1px get-color(primary);
  }
}

.wmcads-content-card {
  display: block;
  min-height: 150px;
  border-bottom: 5px solid get-color(primary);
  color: get-color(text);
  background-color: $white;
  text-decoration: none;

  @at-root a#{&} {
    display: block;
    color: get-color(text);
    text-decoration: none;
    @include accessibility-hover;
  }

  // Modifiers
  &--blue {
    display: block;
    border-bottom: 0;
    color: $white;
    background: get-color(cta);

    h2 {
      color: $white;
    }

    svg {
      width: 60px;
      height: 60px;
      fill: $white;
    }
  }

}
