{% extends "www/_layouts/template-layout-fullwidth.njk" %}
{% set pageTitle="Homepage Template" %}
{% set section = "Templates" %}
{% set section="Templates" %}
{% set ds = 'st' %}

{# Imports #} 
{% from "wmcads/components/page-header/_page-header.njk" import wmcadsPageHeader %}
{% from "wmcads/components/link/link/_link.njk" import wmcadsLink %}
{% from "wmcads/components/inset-text/_inset-text.njk" import wmcadsInsetText %} 
{% from "wmcads/components/icon/_icon.njk" import wmcadsIcon %}
{% from "wmcads/components/content-card/_content-card.njk" import wmcadsContentCard %}
{# Set array of tiles #} 
{% block content %} 


{{
    wmcadsPageHeader({
      title: true,
      text: "Safer Travel Partnership",
      home: true,

      subtitle: "A collaborative group of organisations working together to make public transport safer in the West Midlands"
    })
}}
<main class="ds-container ds-m-t-lg homepage">

<h2>Latest News</h2>
<div class="ds-css-grid-3-col">
        {{
            wmcadsContentCard({classes: "ds-content-card--news",
                contentHTML: ' <img src=\"/img/examples/curzon-street.png\" alt=\"Image alt text\">
                                <p>14 March 2024</p>
                                <h3><a href=\"/#\">News article title</a></h3>'
            })
        }}
        {{
            wmcadsContentCard({classes: "ds-content-card--news",
                contentHTML: ' <img src=\"/img/examples/curzon-street.png\" alt=\"Image alt text\">
                                <p>14 March 2024</p>
                                <h3><a href=\"/#\">News article title</a></h3>'
            })
        }}
        {{
            wmcadsContentCard({classes: "ds-content-card--news",
                contentHTML: ' <img src=\"/img/examples/curzon-street.png\" alt=\"Image alt text\">
                                <p>14 March 2024</p>
                                <h3><a href=\"/#\">News article title</a></h3>'
            })
        }}
</div>
<a href="#" class="ds-link ds-m-t-lg ds-m-b-sm see-more">See all news</a>

<h2>Partners</h2>
<div class="ds-css-grid-3-col ds-m-b-lg">
    {{
    wmcadsContentCard({
      eventTitle: 'Mayors Mentors',
      eventCopy: 'Find out about the Mayor’s Mentors scheme and how it can help you grow.',
      link: "#",
      isEvent: true
    })
    }}
    {{
    wmcadsContentCard({
      eventTitle: 'Greater Birmingham LEP Skills Day',
      eventCopy: 'Hear from employers and training providers on upskilling opportunities available.',
      link: "#",
      isEvent: true
    })
    }}
    {{
    wmcadsContentCard({
      eventTitle: 'Sprint exhibition - Walsall',
      eventCopy: 'Learn and ask questions about the upcoming Sprint works in the region.',
      link: "#",
      isEvent: true
    })
    }}
</div>

</main>

{% endblock %}
